<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Studio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" />
    <link href="codemirror-5.49.2/lib/codemirror.css" rel="stylesheet" />
    <script src="codemirror-5.49.2/lib/codemirror.js"></script>
    <script src="codemirror-5.49.2/mode/xml/xml.js"></script>
    <script src="codemirror-5.49.2/mode/javascript/javascript.js"></script>
    <script src="codemirror-5.49.2/mode/css/css.js"></script>
    <script src="codemirror-5.49.2/mode/htmlmixed/htmlmixed.js"></script>
    <script src="codemirror-5.49.2/mode/htmlembedded/htmlembedded.js"></script>
    <script src="codemirror-5.49.2/addon/edit/matchbrackets.js"></script>

    <script src="codemirror-5.49.2/addon/mode/multiplex.js"></script>
    <script src="https://kit.fontawesome.com/e3c61653ca.js"></script>

</head>
<body ng-app="Studio">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Studio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" ng-class="{'disabled' : !$root.isloggedin}" href="#" onclick="$('#folderModal').show();"><i class="fas fa-folder-plus"></i> New Folder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" ng-class="{'disabled' : !$root.isloggedin}" onclick="$('#fileModal').show();"><i class="far fa-file-code"></i> New File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ng-class="{ 'disabled' : $root.selectedItem.Path === '~' || !$root.isloggedin}" href="#" onclick="$('#renameModal').show();"><i class="far fa-edit"></i> Rename</a>
                </li>
                <li class="nav-item" ng-controller="saveFileCtrl">
                    <a class="nav-link" ng-class="{ 'disabled' : !$root.saveNeeded || !$root.isloggedin}" ng-click="saveFile($root.activeEditorIndex)" href="#"><i class="far fa-save"></i> Save</a>
                </li>
                <li class="nav-item" ng-controller="saveFileCtrl">
                    <a class="nav-link" ng-class="{ 'disabled' : !$root.saveNeeded || !$root.isloggedin}" ng-click="saveAll()" href="#"><i class="far fa-save"></i> Save All</a>
                </li>
                <li class="nav-item" ng-controller="deleteCtrl">
                    <a class="nav-link" href="#" ng-class="{ 'disabled' : !$root.selectedItem.IsFile || !$root.isloggedin}" ng-click="delete()"><i class="far fa-trash-alt"></i> Delete</a>
                </li>
                <li class="nav-item dropdown" ng-controller="templateCtrl">
                    <a class="nav-link dropdown-toggle" id="templateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" ng-class="{ 'disabled' : !Enabled || !$root.isloggedin}"><i class="far fa-file-code"></i> Template</a>
                    <div class="dropdown-menu" aria-labelledby="templateDropdown">
                        <a class="dropdown-item" href="#" ng-click="setTemplate('html')">HTML</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('aspx')">Web From</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('codebehind.cs')">Web From Code Behind</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('cs')">C# Class</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('vb')">VB.Net Class</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('cshtml')">Razor Content Page</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('asax')">Global Application Class</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('master')">Master Page</a>
                        <a class="dropdown-item" href="#" ng-click="setTemplate('ashx')">Generic Handler</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" ng-show="{{ $root.isloggedin }}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid" ng-class="{ 'show' : $root.isloggedin, 'hide' : !$root.isloggedin }">
        <div class="row">
            <nav class="col-lg-2 d-none d-md-block bg-light sidebar" ng-controller="dirCtrl" style="border-right:1px solid #D4D4D4; border-top:1px solid #D4D4D4;">
                <div class="sidebar-sticky">
                    <div style="overflow-y:auto;" class="direxpheightfull">
                        <ul class="folder">
                            <li ng-repeat="node in root.Subitems" ng-include="'tree_view'">
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="col-lg-10" style="background:#fff;">
                <div ng-controller="editAreaCtrl">
                    <ul class="nav nav-tabs" style="border-bottom:0px;">
                        <li class="nav-item" ng-attr-id="{{f.Name.replace('.', '') + '_tab'}}" ng-repeat="f in files">
                            <a class="nav-link filetab-link" title="{{f.Name}}" ng-class="{ 'active' : f.IsActive, 'filechanged' : f.IsChanged }" ng-click="setTab($index)">
                                <button type="button" class="close tabclose" aria-label="Close" ng-click="closeTab(f.Path)">
                                    <span aria-hidden="true">&times;</span>
                                </button>{{f.Name}}
                            </a>

                        </li>
                    </ul>
                    <div ng-class="{ 'show' : f.IsActive, 'hide' : !f.IsActive }" ng-repeat="f in $root.openFiles">
                        <textarea class="codeeditor" ng-attr-index="{{ $index }}" ng-attr-id="{{'editor' + $index}}">{{ f.Data }}</textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container" ng-class="{ 'show' : !$root.isloggedin, 'hide' : $root.isloggedin }" style="height:calc(100vh - 60px);">
        <div class="row justify-content-center" ng-controller="loginCtrl" style="padding-top:100px;">
            <div class="col-lg-3">
                <div class="card" style="padding:10px;">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" ng-model="email" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" ng-model="password" />
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="login()">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="folderModal" ng-controller="newFolderCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="folderModalLabel">New Folder</h5>
                    <button type="button" class="close" onclick="$('#folderModal').hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" ng-model="name" maxlength="50" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveFolder('createdir',name)">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="fileModal" ng-controller="newFileCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">New File</h5>
                    <button type="button" class="close" onclick="$('#fileModal').hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" ng-model="name" maxlength="50" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveFile('createfile',name)">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="renameModal" ng-controller="renameCtrl">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">Rename</h5>
                    <button type="button" class="close" onclick="$('#renameModal').hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" maxlength="50" ng-model="name" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="rename()">Save</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/ng-template" id="tree_view">
        <a class="nav-link directorytreeitem" href="#" title="{{ node.Name }}" ng-class="{ 'selected' : selectedItem.Path == node.Path }" ng-click="getDetail(node.Name, node.Path, node.IsFile, node.CreateDate, node.LastAccessDate, node.LastWriteDate)" ng-dblclick="openFile(node)">
            <i ng-class="{'far fa-folder' : !node.IsFile, 'far fa-file-code' : node.IsFile}"></i> {{ node.Name }}
        </a>
        <ul ng-class="{ 'show' : node.Expanded, 'hide' : !node.Expanded }">
            <li ng-repeat="node in node.Subitems" ng-include="'tree_view'">
            </li>
        </ul>
    </script>
    <script>
        var app = angular.module('Studio', []);

        app.service('codeFilesService', function ($rootScope, $http) {
            var rootDirectory = { Name: "", Subitems: [] },
                getChangedFilesIndex, addToOpenFiles, getOpenFiles, removeFromOpenFiles, getDirectories, getOpenFile, updateOpenFile;

            $rootScope.selectedItem = { Name: "", Path: "~", IsFile: false };
            $rootScope.isloggedin = false;

            typeOfFileOpen = function (name) {
                if (name.endsWith(".html")) {
                    return "text/html";
                } else if (name.endsWith(".cshtml") || name.endsWith(".aspx") || name.endsWith(".asax")) {
                    return "application/x-aspx";
                } else if (name.endsWith(".css")) {
                    return "text/css";
                }
                else if (name.endsWith(".js")) {
                    return "text/javascript";
                } else if (name.endsWith(".config") || name.endsWith(".xml")) {
                    return "application/xml";
                } else if (name.endsWith(".json")) {
                    return "application/json";
                } else if (name.endsWith(".cs")) {
                    return "text/x-csharp";
                } else if (name.endsWith(".vb")) {
                    return "text/x-vb";
                }
            }

            addToOpenFiles = function (obj) {
                if ($rootScope.openFiles == undefined) {
                    $rootScope.openFiles = [];
                }
                if (obj.IsFile) {
                    var openFiles = $rootScope.openFiles;
                    var alreadyOpen = false;
                    for (var k in openFiles) {
                        if (openFiles[k].Path == obj.Path) {
                            openFiles[k].IsActive = true;
                            alreadyOpen = true;
                        } else {
                            openFiles[k].IsActive = false;
                        }
                    }
                    if (!alreadyOpen) {
                        openFiles.push({ Name: obj.Name, Path: obj.Path, Data: "", IsActive: true, IsChanged: false });
                        $rootScope.activeEditorIndex = openFiles.length - 1;
                        document.title = "Studio - " + obj.Name;
                        $rootScope.$broadcast('editAreaActiveTabChanged');
                        $http.get("studioworker.ashx?action=getdata&path=" + obj.Path).then(function (response) {
                            var openFiles = $rootScope.openFiles;
                            for (var k in openFiles) {

                                if (openFiles[k].Path == obj.Path) {
                                    //openFiles[k].Data = response.data;
                                    var editor = CodeMirror.fromTextArea(document.getElementById("editor" + k), {
                                        lineNumbers: true,
                                        mode: typeOfFileOpen(openFiles[k].Name),
                                        indentUnit: 4,
                                        indentWithTabs: true,
                                        matchBrackets: true
                                    });
                                    editor.setValue(response.data);
                                    editor.on('change', function (instance, obj) {
                                        var index = parseInt(instance.getTextArea().getAttribute("index"));
                                        $rootScope.openFiles[index].IsChanged = true;
                                        getChangedFilesIndex();
                                    });
                                    openFiles[k].Editor = editor;
                                    $rootScope.$broadcast('openFilesUpdate');
                                    return;
                                }
                            }
                        });
                    }
                }
            };
            getDirectories = function () {
                $http.get("studioworker.ashx?action=dirlist").then(function (response) {
                    $rootScope.rootDirectory = response.data;
                    $rootScope.$broadcast('dirReloaded');
                }).then(function (response) { });
            };
            getOpenFiles = function () {
                return $rootScope.openFiles;
            };
            getOpenFile = function (index) {
                if (index < $rootScope.openFiles.length) {
                    return $rootScope.openFiles[index];
                } else {
                    return null;
                }
            }

            addItemToTree = function (obj, root, addTo) {
                if (addTo.Path == root.Path) {
                    root.Subitems.push(obj);
                    $rootScope.$broadcast('dirReloaded');
                    return;
                }
                for (var k in root.Subitems) {
                    if (addTo.Path == root.Subitems[k].Path) {
                        root.Subitems[k].Subitems.push(obj);
                        $rootScope.$broadcast('dirReloaded');
                        return;
                    }
                    addItemToTree(obj, root.Subitems[k], addTo);
                }

            }

            removeItemFromTree = function (obj, root) {
                for (var k in root.Subitems) {
                    if (obj.Path == root.Subitems[k].Path) {
                        root.Subitems.splice(k, 1);
                        $rootScope.$broadcast('dirReloaded');
                        return;
                    }
                    removeItemFromTree(obj, root.Subitems[k]);
                }

            }
            updateItemFromTree = function (s, t, root) {
                for (var k in root.Subitems) {
                    if (s.Path == root.Subitems[k].Path) {
                        root.Subitems[k].Name = t.Name;
                        root.Subitems[k].Path = t.Path;
                        root.Subitems[k].IsFile = t.IsFile;
                        $rootScope.$broadcast('dirReloaded');
                        return;
                    }
                    updateItemFromTree(s, t, root.Subitems[k]);
                }
            }
            getChangedFilesIndex = function () {
                var changedFilesIndex = [];
                $rootScope.saveNeeded = false;
                for (var k in $rootScope.openFiles) {
                    if ($rootScope.openFiles[k].IsChanged) {
                        $rootScope.saveNeeded = true;
                        changedFilesIndex.push(k);
                    }
                }

                $rootScope.changedFilesIndex = changedFilesIndex;
            };
            getParentFromTree = function (obj, root) {
                var result = null;
                for (var k in root.Subitems) {
                    if (root.Subitems[k].Path == obj.Path) {
                        result = root;
                        break;
                    }
                    result = getParentFromTree(obj, root.Subitems[k]);
                    if (result != null) {
                        break;
                    }

                }

                return result;
            }
            removeFromOpenFiles = function (path) {
                var openFiles = $rootScope.openFiles;
                for (var k in openFiles) {
                    if (openFiles[k].Path == path) {
                        openFiles.splice(k, 1);
                        if (k == 0) {
                            if (openFiles.length > 0) {
                                openFiles[0].IsActive = true;
                            }
                        } else if (k >= openFiles.length) {
                            openFiles[openFiles.length - 1].IsActive = true;
                        } else {
                            openFiles[k - 1].IsActive = true;
                        }

                        return;
                    }
                }
            };
            ///
            ///f is source obj
            ///n is target obj
            updateOpenFile = function (f, n) {
                for (var k in $rootScope.openFiles) {
                    if ($rootScope.openFiles[k].Path == f.Path) {
                        if (n.IsActive !== undefined) {
                            $rootScope.openFiles[k].IsActive = n.IsActive;
                        }
                        if (n.IsFile !== undefined) {
                            $rootScope.openFiles[k].IsFile = n.IsFile;
                        }
                        if (n.Name !== undefined) {
                            $rootScope.openFiles[k].Name = n.Name;
                        }
                        if (n.Path !== undefined) {
                            $rootScope.openFiles[k].Path = n.Path;
                        }
                        if (n.IsChanged !== undefined) {
                            $rootScope.openFiles[k].IsChanged = n.IsChanged;
                        }
                        $rootScope.$broadcast('openFilesUpdate');
                        break;
                    }
                }
            }

            setOpenFileData = function (f, d) {
                for (var k in $rootScope.openFiles) {
                    if ($rootScope.openFiles[k].Path == f.Path) {
                        $rootScope.openFiles[k].Editor.setValue(d);
                        $rootScope.$broadcast('openFilesUpdate');
                        break;
                    }
                }
            }
            broadcastItem = function () {
                $rootScope.$broadcast('broadCastData');
            };

            return {
                addToOpenFiles: addToOpenFiles,
                getOpenFiles: getOpenFiles,
                removeFromOpenFiles: removeFromOpenFiles,
                rootDirectory: rootDirectory,
                getDirectories: getDirectories,
                getChangedFilesIndex: getChangedFilesIndex,
                getOpenFile: getOpenFile,
                updateOpenFile: updateOpenFile,
                broadcastItem: broadcastItem,
                addItemToTree: addItemToTree,
                removeItemFromTree: removeItemFromTree,
                getParentFromTree: getParentFromTree,
                updateItemFromTree: updateItemFromTree,
                setOpenFileData: setOpenFileData
            };
        });
        app.controller('dirCtrl', function ($scope, $rootScope, $http, codeFilesService) {

            $scope.root = $rootScope.rootDirectory;
            //codeFilesService.getDirectories();
            $scope.$on('dirReloaded', function () {
                $scope.root = $rootScope.rootDirectory;
            });
            $scope.$on('loginsuccess', function () {
                codeFilesService.getDirectories();
            });
            $scope.showProperties = false;
            $scope.selectedItem = null;
            $scope.getDetail = function (name, path, isFile, createDate, lastAccessDate, lastWriteDate) {
                $scope.selectedItem = { Name: name, Path: path, IsFile: isFile, CreateDate: createDate, LastAccessDate: lastAccessDate, LastWriteDate: lastWriteDate }
                $rootScope.selectedItem = $scope.selectedItem;
                $scope.showProperties = true;
                codeFilesService.broadcastItem();
            }
            $scope.openFile = function (n) {
                $scope.showProperties = false;
                if (n.IsFile) {
                    codeFilesService.addToOpenFiles({ Name: n.Name, Path: n.Path, IsFile: n.IsFile, Editor: null });
                } else {

                    setFolderEpanded($scope.root, n.Path);
                }
            }

            function setFolderEpanded(r, path) {
                for (var k in r.Subitems) {
                    if (r.Subitems[k].Path == path) {
                        r.Subitems[k].Expanded = !r.Subitems[k].Expanded;
                        return;
                    }
                    setFolderEpanded(r.Subitems[k], path);
                }
            }

        });
        app.controller('editAreaCtrl', function ($scope, $rootScope, $http, codeFilesService) {

            $scope.files = $rootScope.openFiles;
            $scope.$on('openFilesUpdate', function () {
                $scope.files = $rootScope.openFiles;
            });
            $scope.setTab = function (index) {
                for (var k in $rootScope.openFiles) {
                    if (k == index) {
                        $rootScope.openFiles[k].IsActive = true;
                        $rootScope.activeEditorIndex = k;
                        document.title = "Studio - " + $rootScope.openFiles[k].Name;
                        $rootScope.$broadcast('editAreaActiveTabChanged');
                    } else {
                        $rootScope.openFiles[k].IsActive = false;
                    }
                }
            };
            $scope.closeTab = function (path) {
                codeFilesService.removeFromOpenFiles(path);
            };

        });
        app.controller('newFolderCtrl', function ($scope, $rootScope, $http, codeFilesService) {
            $scope.name = "";
            $scope.saveFolder = function (a, p) {
                var o = $rootScope.selectedItem;
                //if current selected item is a file and choose parent folder of the file
                if ($rootScope.selectedItem.IsFile) {
                    o = codeFilesService.getParentFromTree($rootScope.selectedItem, $rootScope.rootDirectory);
                }
                $http.post("studioworker.ashx?action=" + a + "&path=" + o.Path + "\\" + p, {}).then(function (data, status, headers, config) {
                    var o = $rootScope.selectedItem;
                    //need to do this again since the context changed
                    //if current selected item is a file and choose parent folder of the file
                    if ($rootScope.selectedItem.IsFile) {
                        o = codeFilesService.getParentFromTree($rootScope.selectedItem, $rootScope.rootDirectory);
                    }
                    codeFilesService.addItemToTree(data.data.item, $rootScope.rootDirectory, o);
                    $('#folderModal').hide();
                    $scope.name = "";
                }, function (data, status, headers, config) {
                    alert(data.data.message);
                });
            }
        });
        app.controller('newFileCtrl', function ($scope, $rootScope, $http, codeFilesService) {
            $scope.name = "";
            $scope.saveFile = function (a, p) {
                var o = $rootScope.selectedItem;
                if ($rootScope.selectedItem.IsFile) {
                    o = codeFilesService.getParentFromTree($rootScope.selectedItem, $rootScope.rootDirectory);
                }
                $http.post("studioworker.ashx?action=" + a + "&path=" + o.Path + "\\" + p, {}).then(function (data, status, headers, config) {
                    var o = $rootScope.selectedItem;
                    if ($rootScope.selectedItem.IsFile) {
                        o = codeFilesService.getParentFromTree($rootScope.selectedItem, $rootScope.rootDirectory);
                    }
                    codeFilesService.addItemToTree(data.data.item, $rootScope.rootDirectory, o);
                    codeFilesService.addToOpenFiles({ Name: data.data.item.Name, Path: data.data.item.Path, IsFile: data.data.item.IsFile, Editor: null, IsActive: true, IsChanged: false });
                    $('#fileModal').hide();
                    $scope.name = "";
                }, function (data, status, headers, config) {
                    alert(data.data.message);
                });
            }
        });

        app.controller('renameCtrl', function ($scope, $rootScope, $http, codeFilesService) {
            $scope.name = $rootScope.selectedItem.Name;
            $scope.$on('broadCastData', function () {
                $scope.name = $rootScope.selectedItem.Name;
            });
            $scope.rename = function () {
                var path = $rootScope.selectedItem.Path.substr(0, $rootScope.selectedItem.Path.length - $rootScope.selectedItem.Name.length) + $scope.name;

                if ($rootScope.selectedItem.IsFile) {
                    $http.post("studioworker.ashx?action=renamefile&spath=" + $rootScope.selectedItem.Path + "&tpath=" + path, {}).then(function (response, status, headers, config) {
                        $('#renameModal').hide();
                        if (response.data.result) {
                            codeFilesService.updateItemFromTree(response.data.sitem, response.data.titem, $rootScope.rootDirectory);
                            codeFilesService.updateOpenFile(response.data.sitem, { Name: response.data.titem.Name, Path: response.data.titem.Path })
                        }
                    }, function (response, status, headers, config) {
                        alert(response.data.message);
                    });
                } else {
                    $http.post("studioworker.ashx?action=renamedir&spath=" + $rootScope.selectedItem.Path + "&tpath=" + path, {}).then(function (response, status, headers, config) {
                        $('#renameModal').hide();
                        if (response.data.result) {
                            codeFilesService.updateItemFromTree(response.data.sitem, response.data.titem, $rootScope.rootDirectory);
                        }
                    }, function (response, status, headers, config) {
                        alert(response.data.message);
                    });
                }
            }
        });

        app.controller('deleteCtrl', function ($scope, $rootScope, $http, codeFilesService) {
            $scope.delete = function () {
                $http.post("studioworker.ashx?action=removefile&path=" + $rootScope.selectedItem.Path, {}).then(function (response, status, headers, config) {
                    codeFilesService.removeItemFromTree($rootScope.selectedItem, $rootScope.rootDirectory);
                    codeFilesService.removeFromOpenFiles($rootScope.selectedItem.Path);
                    $rootScope.selectedItem = { Name: "", Path: "~", IsFile: false };
                }, function (response, status, headers, config) {
                    alert(response.data.message);
                });
            }
        });

        app.controller('saveFileCtrl', function ($scope, $rootScope, $http, codeFilesService) {

            $scope.saveFile = function (i) {
                var openf = codeFilesService.getOpenFile(i);
                if (openf != null) {
                    $http({
                        method: 'POST',
                        url: 'studioworker.ashx',
                        data: "action=savedata&path=" + openf.Path + "&data=" + openf.Editor.getValue(),
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                    }).then(function (response, status, headers, config) {

                        codeFilesService.updateOpenFile({
                            Name: response.data.file.Name,
                            Path: response.data.file.Path
                        }, {
                                Name: response.data.file.Name,
                                Path: response.data.file.Path,
                                IsChanged: false
                            });
                    });
                }
            }

            $scope.saveAll = function () {
                for (var k in $rootScope.openFiles) {
                    if ($rootScope.openFiles[k].IsChanged) {
                        $http({
                            method: 'POST',
                            url: 'studioworker.ashx',
                            data: "action=savedata&path=" + $rootScope.openFiles[k].Path + "&data=" + $rootScope.openFiles[k].Editor.getValue(),
                            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                        }).then(function (response, status, headers, config) {
                            console.log(response)
                            codeFilesService.updateOpenFile({ Name: response.data.file.Name, Path: response.data.file.Path }, { Name: response.data.file.Name, Path: response.data.file.Path, IsChanged: false });
                        });
                    }
                }
            }
        });

        app.controller('templateCtrl', function ($scope, $rootScope, $http, codeFilesService) {
            $scope.Enabled = !isNaN($rootScope.activeEditorIndex);
            $scope.$on('editAreaActiveTabChanged', function () {
                $scope.Enabled = !isNaN($rootScope.activeEditorIndex);
            });

            $scope.setTemplate = function (n) {
                $http.get("template/t." + n + ".txt").then(function (response) {
                    codeFilesService.setOpenFileData($rootScope.openFiles[$rootScope.activeEditorIndex], response.data);
                });
            }
        });

        app.controller('loginCtrl', function ($scope, $rootScope, $http, codeFilesService) {

            $scope.email = "";
            $scope.password = "";
            $rootScope.token = "";
            $scope.login = function () {
                $http.post("Auth.ashx?u=" + $scope.email + "&p=" + $scope.password, {}).then(function (response, status, headers, config) {
                    if (response.data.result) {
                        $rootScope.token = response.data.token;
                        $rootScope.isloggedin = true;
                        $http.defaults.headers.common["Auth-Token"] = $rootScope.token;
                        $rootScope.$broadcast('loginsuccess');
                    } else {
                        $rootScope.token = "";
                        $rootScope.isloggedin = false;
                    }
                }, function (response, status, headers, config) {
                    alert(response.data.message);
                    $rootScope.token = "";
                    $rootScope.isloggedin = false;
                });
            }
        });
    </script>
</body>
</html>