body {
    background-color: #F8F9FA;
}

.direxpheightfull {
    height: calc(100vh - 56px);
}

.direxpheighthalf {
    height: calc(50vh - 50px);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.codeeditor {
    width: 100%;
    height: calc(100vh - 100px);
    border-color: #DEE2E6;
    border-top: none;
}

.CodeMirror {
    height: calc(100vh - 100px);
}

.filetab-link {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.filechanged:before {
    content: "*";
}

.nav-link {
    padding: 2px;
}

.tabclose {
    margin-left: 10px;
}

a.nav-link.selected {
    border-left: 2px solid;
}

ul.folder, ul.folder ul {
    margin: 0px;
    padding: 0px;
}

    ul.folder li {
        list-style-type: none;
        padding-left: 10px;
    }

    ul.folder > li > ul {
        margin-left: 10px;
    }

.directorytreeitem {
    white-space: nowrap;
}
