.rsttooltip
{
    z-index: 1000;
    display: none;
    position: absolute;
    font-size: 11px;
    line-height: 1.4;
    font-family: Arial, Verdana;
    font-size: 12px;
    max-width: 200px;
    padding: 8px;
    color: #D4D4D4;
    text-shadow: 0px 2px 3px #555;
    text-align: center;
    text-decoration: none;
    background-color: #242424;
    border: 1px solid #121212;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px rgba(110, 110, 110, 1);
    -moz-box-shadow: 0px 0px 3px rgba(110, 110, 110, 1);
    box-shadow: 0px 0px 3px rgba(110, 110, 110, 1);
}
