@media only screen and (min-width:1200px) and (max-width:1800px) 
{
.web-designing-leftbar {
    padding: 82px 0 0 0;
    width: 600px;
}
.web-design-img {
    position: absolute;
    width: 530px;
}
.web-designing-leftbar h1 {
    font-size: 82px;
    line-height: 100px;
    margin-bottom: 13px;
}
.web-designing-leftbar spam {
    font-size: 19px;
    padding-bottom: 26px;
    line-height: 36px;
    margin-bottom: 25px;
}
.web-designing-leftbar p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 32px;
}
.big-heading {
    font-size: 380px;
    line-height: 110px;
    bottom: -17px;
    right: -120px;
}
}
@media only screen and (min-width:980px) and (max-width:1199px) 
{
.green-flower-pot.parallax.four {
    top: 480px;
}
.flower-pot.parallax.pen {
    top: 830px;
}	
.auto-container 
{
max-width: 900px;
}	
.footer-links li a 
{
margin-right: 25.5px;
}
.banner-slide-rightbar 
{
    width: 766px;
}
.banner-slide-leftbar 
{
    padding: 40px 0 0 60px;
}
.sm-block {
    left: 26px;
}
.flower-pot {
    width: 240px;
    left: 38px;
    top: 20px;
}
.plugins-detail-leftbar {
    padding: 74px 0 0 40px;
    z-index: 999;
}
.pencil-pot {
    width: 180px;
    left: 8px;
    top: 12px;
}
.what-do-list li {
    width: 430px;
    margin: 0 34px 0 0;
}
.green-flower-pot {
    width: 240px;
    right: 0;
    top: 23px;
}
.meet-rightbar h4 {
    left: -71px;
    top: -81px;
}
.our-blog-container 
{
    padding: 34px 0 78px;
}
.our-blog-container h1 {
    font-size: 88px;
    margin-bottom: 33px;
}
.our-blog-rightbar {
    width: 311px;
}
.our-blog-leftbar {
    width: 553px;
}
.our-blog-leftbar li h2 {
    font-size: 43px;
    line-height: 53px;
    margin-bottom: 12px;
}
.our-blog-leftbar li p {
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 21px;
}
.single-blog-content h3 {
    font-size: 41px;
    line-height: 53px;
    margin-bottom: 18px;
}
.contact-container {
    padding: 50px 0 83px 0;
}
.contact-leftbar {
    width: 508px;
}
.form-left {
    width: 247px;
}
.contact-container h1 {
    font-size: 93px;
    line-height: 78px;
}
.contact-rightbar {
    width: 376px;
}
.ui-plugins-container {
    padding:47px 0 53px 0;
}
.ui-plugins-container h1 {
    font-size: 98px;
    line-height: 123px;
    margin-bottom: 50px;
}
.ui-plugins-list li {
    width: 33.3%;
    height: 391px;
	margin: 0 0 6px 0;
	padding: 0 3px;
}
.ui-plugins-list li p br
{
	display:none;
}
.ui-plugins-detail p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.6px;
}
.ui-plugins-detail p:after {
    left: -22px;
    top: -25px;
}
.ui-plugins-detail p:before {
    right: 168px;
    bottom: -28px;
}
.ui-plugins-detail {
    margin: 68px 0 0 0;
}
.services-banner h1 {
    font-size: 130px;
    line-height: 113px;
}
.flower-block {
    right: 0;
    top: 109px;
	width: 155px;
}
.coffee-cup-block {
    width: 155px;
    left: 20px;
    top: 169px;
}
.plugins-detail-rightbar {
    width: 541px;
}
.expertise-container h3 {
    font-size: 58px;
    line-height: 71px;
    left: 270px;
    top: -60px;
}
.expertise-container .meet-leftbar {
    width: 450px;
}
.expertise-container .meet-rightbar {
    padding: 182px 0 0 0;
    width: 408px;
}
section.meet-container.expertise-container {
    padding: 125px 0 60px 0;
}

.web-designing-leftbar {
    padding: 82px 0 0 0;
    width: 570px;
}
.web-design-img {
    position: absolute;
    width: 440px;
}
.web-designing-leftbar h1 {
    font-size: 69px;
    line-height: 69px;
    margin-bottom: 13px;
}
.web-designing-leftbar spam {
    font-size: 17px;
    padding-bottom: 16px;
    line-height: 32px;
    margin-bottom: 18px;
}
.web-designing-leftbar p {
    font-size: 14px;
    line-height: 29px;
    margin-bottom: 32px;
}
.big-heading {
    font-size: 321px;
    line-height: 110px;
    bottom: -37px;
    right: -79px;
}
.web-designing-banner {
    padding: 60px 46px 188px;
}
.what-do-container h3 {
    font-size: 92px;
}
.banner-heading {
    font-size: 124px;
    line-height: 110px;
    top: 642px;
    left: 65px;
}
.engagement-banner {
    padding:137px 0 83px 0;
}
.engagement-banner h1 {
    font-size: 85px;
}
.engagement-leftbar {
    width: 491px;
}
.engagement-rightbar {
    width: 382px;
    padding: 153px 0 0 0;
}
.engagement-rightbar h2 {
    font-size: 78px;
    left: -174px;
    top: 36px;
}
.engagement-rightbar p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;
}
.our-payroll-container p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 13px;
}
.our-payroll-container {
    padding: 67px 0 38px 0;
}
.our-payroll-container h3 {
    font-size: 70px;
    line-height: 30px;
    margin-bottom: 75px;
}
.technologies-expertise-right {
    width: 432px;
}
.technologies-expertise h3 {
    font-size: 62px;
    line-height: 110px;
    top: -220px;
}
.technologies-expertise {
    padding: 257px 0 56px 0;
}
.portfolio-container {
    padding: 34px 0 39px 0;
}
.green-flower-pot.parallax.four.ipad {
    top: 340px;
}
.about-detail-leftbar {
    padding: 0;
}
}

@media only screen and (min-width:768px) and (max-width:979px) 
{
.green-flower-pot.parallax.four {
    top: 480px;
}
.flower-pot.parallax.pen {
    top: 830px;
}
	
.auto-container 
{
max-width: 700px;
}	
.footer-links li a {
    margin-right: 8.7px;
    font-size: 14px;
}
.banner-slide-rightbar 
{
    width: 606px;
}
.banner-slide-leftbar 
{
    padding: 40px 0 0 28px;
}
.sm-block {
    left: 13px;
}
.flower-pot {
    width: 240px;
    left: 2px;
    top: 20px;
}
.plugins-detail-leftbar {
    padding: 44px 0 0 21px;
    z-index: 999;
}
.pencil-pot {
    width: 180px;
    left: 8px;
    top: 12px;
}
.what-do-list li {
    width: 340px;
    margin: 0 20px 0 0;
}
.green-flower-pot {
    width: 240px;
    right: 0;
    top: 23px;
}
.banner-slide-leftbar h1 {
    font-size: 110px;
    line-height: 89px;
    margin-bottom: 22px;
}
header {
    width: 100%;
    top: 0;
    padding: 35px 27px;
}
.banner-container {
    padding:150px 0 6px 0;
}
.plugins-container h2 {
    font-size: 120px;
    line-height: 115px;
}
.plugins-detail 
{
    padding: 50px 0 0 0;
}
.plugins-detail-rightbar {
    width: 511px;
}
.what-do-container h3 {
    font-size: 85px;
    line-height: 120px;
    font-weight: 800;
}
.what-do-list {
    padding: 28px 0 0 0;
}
.what-do-list li:nth-child(2n) {
    margin-top: 53px;
}
.meet-rightbar {
    width: 402px;
    right: 0;
}
.meet-rightbar h4 {
    font-size: 90px;
    color: #fff;
    line-height: 104px;
    font-family: 'Butler';
    font-weight: 800;
    position: relative;
    left: -52px;
    top: -58px;
}
.logo {
    width: 100px;
}
.logo img
{
	width:100%;
}
.nav-btn {
    margin: 0 0 0 10px;
}
.header-search {
    margin: 0 0 0 8px;
}
nav li {
    margin: 0 15px 0 0;
}
nav li a {
    font-size: 14px;
}
.slider-counter {
    left: 100px;
}
.what-do-container {
    padding: 75px 0 70px 0;
}
.our-blog-container 
{
    padding:11px 0 37px;
}
.our-blog-container h1 {
    font-size: 73px;
    margin-bottom: 14px;
    line-height: 133px;
}
.our-blog-rightbar {
    width: 244px;
}
.our-blog-leftbar {
    width: 433px;
}
.our-blog-leftbar li h2 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 15px;
}
.our-blog-leftbar li p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 10px;
}
.single-blog-content h3 {
    font-size: 33px;
    line-height: 43px;
    margin-bottom: 13px;
}
.author {
    margin: 0 0 13px;
}
.blog-img {
    margin-bottom: 16px;
}
.single-blog-list li {
    font-size: 16px;
    line-height: 37px;
    padding: 0 0 0 31px;
}
.single-blog-list li:after {
    top: 14px;
    width: 19px;
    height: 16px;
}
.blog-categories h3 {
    font-size: 23px;
    line-height: 49px;
    padding: 6px 15px;
}
footer {
    padding: 51px 0 57px 0;
}
.contact-container {
    padding: 50px 0 57px 0;
}
.contact-leftbar {
    width: 378px;
}
.form-left {
    width: 184px;
}
.contact-container h1 {
    font-size: 71px;
    line-height: 52px;
    margin-bottom: 50px;
}
.contact-rightbar {
    width: 311px;
}
.form-group {
    margin-bottom: 22px;
}
.contact-detail-list li a {
    color: #959595;
    word-break: break-all;
}
.captcha-input {
    width: 275px;
}
.ui-plugins-container {
    padding:15px 0 51px 0;
}
.ui-plugins-container h1 {
    font-size: 79px;
    line-height: 100px;
    margin-bottom: 10px;
}
.ui-plugins-list li {
    width: 33.3%;
    margin: 0 0 6px 0;
    padding: 0 1%;
}
.ui-plugins-list li p br
{
	display:none;
}
.ui-plugins-list li p {
    font-size: 15px;
    line-height: 21px;
}
.ui-plugins-detail p br
{
	display:none;
}
.ui-plugins-detail {
    margin: 68px 0 0 0;
}
.ui-plugins-detail p {
    padding: 0 56px;
}
.ui-plugins-detail p:after {
    left: -13px;
    top: -13px;
}
.ui-plugins-detail p:before {
    right: 108px;
    bottom: -25px;
}
.ui-plugins-detail spam {
    font-size: 17px;
}
.services-banner h1 {
    font-size: 100px;
    line-height: 100px;
}
.services-banner {
    padding: 135px 0 73px 0;
}
.coffee-cup-block {
    width: 115px;
    left: 9px;
    top: 159px;
}
.flower-block {
    width: 115px;
    right: 26px;
    top: 139px;
}
.plugins-detail-leftbar h3 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 8px;
}
.expertise-container .meet-leftbar {
    width: 360px;
}
.expertise-container h3 {
    font-size: 40px;
    line-height: 50px;
    left: 180px;
    top: -40px;
}
.expertise-container .meet-rightbar {
    padding: 122px 0 0 0;
    width: 314px;
}
.expertise-container .meet-rightbar li {
    font-size: 13px;
    line-height: 31px;
    padding: 0 0 0 18px;
}
section.meet-container.expertise-container {
    padding: 96px 0 60px 0;
}
.web-designing-leftbar {
    padding: 82px 0 0 0;
    width: 490px;
}
.web-design-img {
    position: absolute;
    width: 330px;
    top: 40px;
}
.web-designing-leftbar h1 {
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 13px;
}
.web-designing-leftbar spam {
    font-size: 17px;
    padding-bottom: 16px;
    line-height: 32px;
    margin-bottom: 18px;
}
.web-designing-leftbar p {
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 28px;
}
.big-heading {
    font-size: 283px;
    line-height: 110px;
    bottom: 4px;
    right: -119px;
}
.web-designing-banner {
    padding:60px 46px 138px;
}
.what-do-container h3 {
    font-size: 92px;
}
.banner-heading {
    font-size: 124px;
    line-height: 110px;
    top: 642px;
    left: 65px;
}
.web-designing-leftbar spam {
    font-size: 17px;
    padding-bottom: 15px;
    line-height: 26px;
    margin-bottom: 18px;
}
.engagement-banner {
    padding:127px 0 52px 0;
}
.engagement-banner h1 {
    font-size: 67px;
}
.engagement-leftbar {
    width: 311px;
}
.engagement-rightbar {
    width: 372px;
    padding: 93px 0 0 0;
}
.engagement-rightbar h2 {
    font-size: 60px;
    left: -141px;
    top: -4px;
}
.engagement-rightbar p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px;
}
.our-payroll-container p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 13px;
}
.our-payroll-container {
    padding: 67px 0 38px 0;
}
.our-payroll-container h3 {
    font-size: 70px;
    line-height: 30px;
    margin-bottom: 75px;
}
.technologies-expertise-right {
    width: 312px;
}
.technologies-expertise h3 {
    font-size: 50px;
    line-height: 69px;
    top: -220px;
}
.technologies-expertise {
    padding: 257px 0 56px 0;
}
.engagement-banner spam {
    margin: 24px 0 48px 0;
}
.payroll-center {
    width: 90%;
}
.payroll-img-left {
    bottom: -78px;
    left: 0;
    width: 280px;
}
.payroll-img-right {
    bottom: -82px;
    right: 0;
    width: 280px;
}
.technologies-expertise-left {
    width: 378px;
    padding: 10px 0 0 0;
}
.portfolio-container h1 {
    font-size: 100px;
    line-height: 112px;
}
.portfolio-container {
    padding:44px 0 40px 0;
}
.button-group .button {
    font-size: 12px;
    padding: 11px 15px;
    margin: 0 6px 0 0;
}
h1.small-font {
    font-size: 69px;
}
.about-detail-leftbar {
    padding: 0;
}
.about-con h2 {
    font-size: 90px;
    line-height: 90px;
}
.privacy-con {
    padding: 20px 0 0;
}
.privacy-con h2 {
    font-size: 58px;
    padding: 0;
}
}
@media only screen and (max-width:767px) {
h1.small-font {
    font-size: 69px!important;
    line-height: 73px!important;
}
.green-flower-pot.parallax.four.ipad {
    top: 0;
    margin-top: -50px;
}
.flower-pot.parallax.pen {
    width: 105px;
    left: 14px;
    top: 766px;
}
.green-flower-pot.parallax.four.mobile {
    width: 128px;
    right: 10px;
    top: 469px;
}
.project-container p {
    font-size: 17px;
    line-height: 25px;
    font-style: italic;
    margin-bottom: 25px;
}	
.project-container h5 {
    font-size: 38px;
    font-family: 'Butler';
    font-weight: 800;
    line-height: 78px;
}
.project-container {
    width: 100%;
    padding: 24px 0 59px;
    position: relative;
}
.quote-btn {
    width: 248px;
    font-size: 25px;
    font-family: 'Butler';
    padding: 15px 0;
}
.auto-container 
{
max-width:100%;
padding:0 4%;
}
header {
width: 100%;
padding: 20px 20px;
}
nav
{
	display:none;
}
.centered {
    width: 95%;
}
.banner-container {
    padding: 130px 0 0 0;
}
.main-nav li a {
    font-size: 39px;
    line-height: 33px;
}
.banner-slide-rightbar {
    width: 100%;
}
.banner-slide-leftbar h1 {
    font-size: 108px;
    line-height: 103px;
    margin-bottom: 9px;
}
.banner-slide-leftbar {
    padding: 16px 0 0 33px;
    z-index: 999;
}
.sm-block {
    top: 449px;
    left: 9px;
}
.plugins-container {
    padding: 45px 0 60px 0;
}
.plugins-container h2 {
    font-size: 100px;
    line-height: 110px;
}
.flower-pot {
    width: 160px;
    left: 1px;
    top: 60px;
}
.plugins-detail {
    padding: 50px 0 0 0;
}
.plugins-detail-rightbar {
    width: 100%;
}
.plugins-detail-leftbar {
    width: auto;
    float: left;
    position: relative;
    padding: 0 0 25px 0;
    z-index: 8;
}
.plugins-detail-leftbar h3 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 27px;
}
.what-do-list li:nth-child(2n) {
    margin-top: 0;
    margin-right: 0;
}
.what-do-container h3 {
    font-size: 87px;
    line-height: 108px;
}
.what-do-container {
    padding: 45px 0 34px 0;
}
.pencil-pot {
    width: 130px;
    left: 18px;
    top: 12px;
}
.what-do-list {
    padding: 22px 0 0 0;
}
.what-do-list li {
    width: 100%;
    margin: 0 0 30px 0;
}
.meet-container {
    padding: 45px 0 60px 0;
}
.meet-rightbar {
    width: 100%;
    position: relative;
    right: 0;
    margin: 0 0 30px;
}
.green-flower-pot {
    width: 160px;
    right: 10px;
    top: 13px;
}
.meet-container spam {
    margin-bottom: 105px;
}
.meet-leftbar {
    width: 100%;
}
.meet-rightbar h4 {
    font-size: 80px;
    line-height: 90px;
    position: relative;
    left: 0;
	margin-bottom:10px;
    top: 0;
}
footer {
    padding: 40px 0 37px 0;
}
.footer-logo{
    width: 130px;
}
.footer-links li {
    width: 100%;
}
.footer-links li a {
    font-size: 16px;
    padding: 17px 0;
    margin-right: 0;
}
.plugins-detail-leftbar p br
{
	display:none;
}
#search input[type="search"] {
    font-size: 35px;
}
.our-blog-container 
{
    padding: 34px 0 28px;
}
.our-blog-container h1 {
    font-size: 64px;
    margin-bottom: 33px;
    line-height: 71px;
}
.our-blog-leftbar {
    width: 100%;
}
.our-blog-leftbar li h2 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 16px;
}
.blog-img {
    margin-bottom: 14px;
}
.our-blog-leftbar li p {
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 20px;
}
.single-blog-content h3 {
    font-size: 41px;
    line-height: 60px;
    margin-bottom: 18px;
}
.our-blog-rightbar {
    width: 100%;
    margin: 30px 0 0 0;
}
.contact-container {
    padding: 30px 0 50px 0;
}
.contact-container h1 {
    font-size: 70px;
    line-height: 50px;
    margin-bottom: 54px;
}
.contact-leftbar {
    width: 100%;
	margin-bottom:15px;
}
.form-left {
    width: 49%;
}
.form-group {
    margin-bottom: 29px;
}
.contact-rightbar {
    width: 100%;
    margin: 20px 0 0;
	text-align: center;
}
.contact-detail-list {
    text-align: left;
}
.contact-detail {
    padding: 40px 0 0 0;
}
.ui-plugins-container {
    padding:15px 0 30px 0;
}
.ui-plugins-container h1 {
    font-size: 56px;
    line-height: 77px;
    margin-bottom: 24px;
}
.ui-plugins-list li {
    width: 100%;
    margin: 0 0 13px 0;
    padding: 0 1%;
    height: auto;
}
.ui-plugins-list li p br
{
	display:none;
}
.ui-plugins-list li p {
    font-size: 15px;
    line-height: 21px;
}
.ui-plugins-detail p br
{
	display:none;
}
.ui-plugins-detail {
    margin:28px 0 0 0;
}
.ui-plugins-detail p {
    padding: 0 56px;
    font-size: 17px;
    line-height: 26px;
}
.ui-plugins-detail p:after {
    left: 0;
    top: -11px;
    background-size: 100%;
    width: 57px;
    height: 43px;
}
.ui-plugins-detail p:before {
    right: 0;
    bottom: -25px;
	background-size: 100%;
    width: 57px;
    height: 43px;
}
.ui-plugins-detail spam {
    font-size: 13px;
}

.services-banner h1 {
    font-size: 88px;
    line-height: 90px;
}
.services-banner {
    padding: 135px 0 73px 0;
}
.coffee-cup-block {
    width: 100px;
    left: 9px;
    top: 129px;
}
.flower-block {
    width: 100px;
    right: 26px;
    top: 139px;
}
.plugins-detail-leftbar h3 {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 8px;
}
.expertise-container .meet-leftbar {
    width: 100%;
}
.expertise-container h3 {
    font-size: 39px;
    line-height: 49px;
    left: 0;
    top: 0;
    position: relative;
}
.expertise-container .meet-rightbar {
    padding: 32px 0 0 0;
    width: 100%;
}
.expertise-container .meet-rightbar li {
    font-size: 15px;
    line-height: 31px;
    padding: 0 0 0 18px;
}
section.meet-container.expertise-container {
    padding: 46px 0 60px 0;
}
.web-design-img {
    display: none;
}
.web-designing-banner {
    padding: 30px 36px 68px;
}
.web-designing-leftbar {
    width: 100%;
    padding: 22px 0 0 0;
}
.web-designing-leftbar h1 {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 9px;
}
.web-designing-leftbar spam {
    font-size: 17px;
    padding-bottom: 25px;
    line-height: 31px;
    margin-bottom: 23px;
}
.big-heading {
    font-size: 250px;
    line-height: 110px;
    bottom: -17px;
    right: 0;
}
.banner-heading {
    font-size: 100px;
    line-height: 110px;
    top: 528px;
    left: 40px;
}
.web-designing-leftbar p br
{
	display:none;
}
.web-designing-leftbar p {
    font-size: 16px;
    margin-bottom: 26px;
}
.engagement-banner {
    padding: 105px 0 59px 0;
}
.engagement-banner h1 {
    font-size:55px;
}
.engagement-banner spam {
    font-size: 20px;
    margin: 16px 0 34px 0;
}
.engagement-leftbar {
    width: 100%;
	margin-bottom:30px;
}
.engagement-rightbar {
    width: 100%;
    padding: 105px 0 0 0;
}
.engagement-rightbar h2 {
    font-size: 72px;
    line-height: 80px;
    left: 0;
    width: 100%;
    top: 0;
    margin: 0 0 34px;
}
.our-payroll-container {
    padding: 47px 0 34px 0;
}
.our-payroll-container h3 {
    font-size: 70px;
    line-height: 76px;
    margin-bottom: 45px;
}
.payroll-center {
    width: 95%;
}
.payroll-img-left {
    bottom: -49px;
    left: 0;
    width: 200px;
}
.payroll-img-right {
    bottom: -32px;
    right: 0;
    width: 200px;
}
.our-payroll-topbar {
    margin-bottom: 74px;
}
.technologies-expertise h3 {
    font-size: 80px;
    line-height: 110px;
    top: 0;
	position:relative;
}
.technologies-expertise {
    padding:37px 0 30px 0;
}
.technologies-expertise h3 {
    font-size: 51px;
    line-height: 66px;
    position: relative;
}
.technologies-expertise-left {
    width: 100%;
    padding: 25px 0 30px 0;
}
.technologies-expertise-right {
    width: 100%;
}
.portfolio-container {
    padding: 24px 0 30px 0;
}
.portfolio-container h1 {
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 13px;
}
.button-group .button {
    font-size: 11px;
    padding: 9px 9px;
    margin: 0 7px 0 0;
}
.about-con h2 {
    font-size: 80px;
    line-height: 80px;
}
.about-detail-leftbar {
    width: auto;
    float: left;
    position: relative;
    text-align: left;
    padding: 0 0 25px 0;
    z-index: 8;
}
.privacy-con {
    padding: 0 0 10px;
}
.privacy-con h2 {
    font-size: 44px;
    padding: 0;
    line-height:90px;
}
.privacy-detail p {
    line-height: 25px;
    margin: 0 0 18px;
}
}
@media only screen and (max-width:599px) {
.banner-slide-leftbar 
{
    padding: 0 0 0 0;
    position: relative;
}
.technologies-expertise h3 {
    font-size: 41px;
    line-height: 53px;
    position: relative;
}
.portfolio-container h1 {
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 18px;
}
.coffee-cup-block, .flower-block
{
	display:none;
}

.banner-slide-leftbar h1 br
{
	display:none;
}
.banner-slide-leftbar h1 {
    font-size: 79px;
    line-height: 97px;
    margin-bottom: 1px;
}
.banner-slide-rightbar
{
	display:none;
}
.plugins-container span {
    font-size: 15px;
}
.flower-pot
{
	display:none;
}
.plugins-container h2 br
{
	display:none;
}
.plugins-container h2 {
    font-size: 76px;
    line-height: 82px;
}
.plugins-detail {
    padding: 38px 0 0 0;
}
.plugins-detail-leftbar h3 {
    font-size: 56px;
    line-height: 74px;
    margin-bottom: 12px;
}
.what-do-container h3 {
    font-size: 72px;
    line-height: 111px;
}
.pencil-pot
{
	display:none;
}
.button-group .button {
    font-size: 12px;
    padding: 9px 9px;
    margin: 0 0 10px 0;
    width: 100%;
}
div#grid-container {
    margin: 13px 0 0 0;
}
.green-flower-pot
{
	display:none;
}
.meet-rightbar h4 {
    font-size: 64px;
    line-height: 86px;
    margin-bottom: 10px;
}
.meet-container spam {
    margin-bottom: 35px;
}
.footer-links {
    margin: 36px 0 0 0;
}
.sm-links {
    margin: 32px 0 29px 0;
}
.our-blog-container h1 {
    font-size: 55px;
    margin-bottom: 29px;
    line-height: 57px;
}
.our-blog-leftbar li h2 {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 19px;
}
.single-blog-content h3 {
    font-size: 33px;
    line-height: 42px;
    margin-bottom: 18px;
}
.single-blog-img {
    margin: 10px 0 17px 0;
}
.single-blog-list li {
    font-size: 18px;
    line-height: 33px;
    padding: 0 0 4px 31px;
}
.single-blog-list li:after {
    top: 12px;
}
.our-blog-leftbar li {
    margin-bottom: 19px;
}
.contact-container h1 {
    font-size: 53px;
    line-height: 41px;
    margin-bottom: 34px;
}
.ui-plugins-container h1 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 4px;
}
.services-banner {
    padding: 115px 0 73px 0;
}
.services-banner h1 {
    font-size: 63px;
    line-height: 67px;
}
.plugins-detail-leftbar h3 br
{
	display:none;
}
section.meet-container.expertise-container {
    padding: 46px 0 39px 0;
}
.coffee-cup-block {
    width: 72px;
}
.flower-block {
    width: 78px;
    right: 26px;
    top: 107px;
}
.services-banner h1 {
    font-size: 45px;
    line-height: 44px;
}
.web-designing-leftbar h1 {
    font-size: 55px;
    line-height: 63px;
    margin-bottom: 14px;
}
.web-designing-leftbar spam br
{
	display:none;
}
.big-heading {
    font-size: 190px;
    line-height: 110px;
    bottom: 113px;
    right: -40px;
}
.engagement-banner h1 {
    font-size: 46px;
}
.engagement-banner spam {
    font-size: 16px;
    margin: 16px 0 22px 0;
}
.engagement-rightbar h2 {
    font-size: 58px;
    line-height: 80px;
    margin: 0 0 30px;
}
.our-payroll-container h3 {
    font-size: 59px;
    line-height: 76px;
    margin-bottom: 30px;
}
.payroll-img-right {
    width: 162px;
}
h1.small-font {
   font-size: 30px !important;
    line-height: 68px!important;
    margin-bottom: 1px!important;
}
h1.small-font br
{
	display:none;
}
.about-con h2 {
    font-size: 60px;
    line-height: 70px;
}
.about-con {
    padding-top: 25px;
}
.about-detail {
    padding: 18px 0 0 0;
}
.privacy-con {
    padding: 0 0 10px;
}
.privacy-con h2 {
    font-size: 36px;
    padding: 0;
    line-height: 70px;
    margin-bottom: 18px;
}
.privacy-con h2:after {
    width: 120px;
    height: 2px;
}
}
@media only screen and (max-width:479px) {
.auto-container {
    max-width: 100%;
    padding: 0 6%;
}	
.banner-container {
    padding: 80px 0 0 0;
}
.banner-slide-leftbar h1 {
    font-size: 41px;
    line-height: 68px;
    margin-bottom: 1px;
}
.banner-slide-leftbar p br
{
	display:none;
}
.banner-slide-leftbar p {
    font-size: 12px;
    color: #fff;
    line-height: 23px;
    margin: 0 0 17px;
}
.slider-counter {
    left: 0;
}
.plugins-container {
    padding: 32px 0 42px 0;
}
.plugins-container h2 {
    font-size: 39px;
    line-height: 47px;
}
.plugins-detail {
    padding: 8px 0 0 0;
}
.plugins-detail-leftbar h3 {
    font-size: 23px;
    line-height: 31px;
    margin-bottom: 6px;
}
.what-do-container {
    padding: 31px 0 19px 0;
}
.meet-rightbar h4 {
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 10px;
}
.meet-rightbar p {
    font-size: 16px;
    margin: 0 0 23px;
}
.sm-links li {
    width: 60px;
    display: inline-block;
    margin-right:0;
}
#search input[type="search"] {
    font-size: 22px;
}
.what-do-detail h4 {
    font-size: 25px;
}
.what-do-detail {
    width: 100%;
    padding: 19px 12px 20px;
}
.logo {
    width: 80px;
}
.svg-wrapper {
    width: 186px;
    height: 54px;
}
#text {
    margin-top: -42px;
}
.plugins-detail-leftbar spam {
    font-size: 15px;
    line-height: 32px;
    margin-bottom: 4px;
}
.plugins-detail-leftbar h3 br
{
	display:none;
}
.plugins-detail-leftbar p {
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 40px;
}
.plugins-detail-leftbar p {
    font-size: 14px;
    line-height: 25px;
    margin: 0 0 23px;
}
#text a {
    font-size: 13px;
}
.what-do-container h3 {
    font-size: 37px;
    line-height: 59px;
}
.footer-logo {
    width: 102px;
}
.meet-container {
    padding: 37px 0 31px 0;
}
footer {
    padding: 25px 0 28px 0;
}
.our-blog-container {
    padding: 19px 0 18px;
}
.our-blog-leftbar li h2 {
    font-size: 27px;
    line-height: 34px;
    margin-bottom: 18px;
}
.author {
    margin: 0 0 0;
    text-align: center;
	line-height: 24px;
	font-size: 17px;
}
.author img {
    float: left;
    margin: 0 0 0 0;
    display: inline-block;
}
.author span {
    display: inline-block;
    margin: 5px 0 14px;
}
.our-blog-container h1 {
    font-size: 48px;
    margin-bottom: 16px;
    line-height: 49px;
}
.newClass {
    padding: 5px 17px;
}
.our-blog-leftbar li p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;
}
.single-blog-content h3 {
    font-size: 29px;
    line-height: 37px;
    margin-bottom: 12px;
}
.our-blog-leftbar li {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 4px 0;
}
.single-blog-list li {
    padding: 0 0 4px 24px!important;
}
.single-blog-list li:after {
    top: 5px;
}
.tab-label {
    padding: 19px 0 19px 42px;
}
.tab-label::after {
    top: 20px;
}
input:checked + .tab-label::after {
    top: 28px;
}
.blog-categories h3 {
    font-size: 24px;
    padding: 6px 25px;
}
.contact-container h1 {
    font-size: 41px;
    line-height: 32px;
    margin-bottom: 26px;
}
.contact-container {
    padding:23px 0 0 0;
}
.form-left {
    width: 100%;
    margin: 0 0 17px;
}
.form-group {
    margin-bottom: 0;
}
.captcha-input {
    width: 100%;
    margin: 0 0 14px;
}
.message {
    margin: 0 0 17px;
}
.required {
    font-size: 12px;
    margin: 16px 0 15px;
}
.contact-leftbar {
    margin-bottom: 5px;
}
.contact-detail {
    padding: 20px 0 0 0;
}
.contact-detail-list {
    width: 100%;
    margin: 0 0 13px;
}
input.send-btn {
    padding: 29px 0;
}
.ui-plugins-container h1 {
    font-size: 34px;
    line-height: 46px;
    margin-bottom: -1px;
}
.ui-plugins-detail p {
    padding: 0 15px;
    font-size: 16px;
    line-height: 24px;
}
.ui-plugins-detail p:after {
    left: -8px;
    top: 0px;
    background-size: 100%;
    width: 27px;
    height: 43px;
}
.ui-plugins-detail p:before {
    right: 0;
    bottom: -25px;
    background-size: 100%;
    width: 27px;
    height: 43px;
}
.ui-plugins-detail p {
    padding: 0 15px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 18px;
}
.ui-plugins-detail spam {
    font-size: 13px;
    line-height: 21px;
    display: inline-block;
}
.footer-links li a {
    font-size: 16px;
    padding: 12px 0;
}
.coffee-cup-block {
    width: 72px;
    top: 94px;
}
.flower-block {
    width: 72px;
    right: 12px;
    top: 83px;
}
.services-banner h1 {
    font-size: 45px;
    line-height: 44px;
    margin: 0 0 20px;
}
.plugins-detail-leftbar span {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1.5px;
    margin: 0 0 20px;
}
.expertise-container h3 br
{
	display:none;
}
.expertise-container h3 {
    font-size: 25px;
    line-height: 37px;
    left: 0;
    top: 0;
    position: relative;
}
section.meet-container.expertise-container {
    padding: 26px 0 31px 0;
}
.expertise-container .meet-rightbar {
    padding: 22px 0 0 0;
    width: 100%;
}
.services-banner {
    padding: 99px 0 44px 0;
}
.web-designing-banner {
    padding:11px 25px 35px;
}
.web-designing-leftbar h1 {
    font-size: 37px;
    line-height: 45px;
    margin-bottom: 8px;
}
.web-designing-leftbar spam {
    font-size: 15px;
    padding-bottom: 22px;
    line-height: 26px;
    margin-bottom: 17px;
}
.web-designing-leftbar p {
    font-size: 14px;
    margin-bottom: 21px;
    line-height: 25px;
}
.web-designing-leftbar {
    padding: 16px 0 0 0;
}
.engagement-banner h1 {
    font-size: 31px;
}
.engagement-banner spam {
    font-size: 12px;
    margin: 16px 0 19px 0;
}
.engagement-rightbar h2 {
    font-size: 39px;
    line-height: 40px;
    margin: 0 0 20px;
    position: relative;
}
.engagement-rightbar {
    padding: 0 0 0 0;
}
.engagement-rightbar p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 13px;
}
.engagement-banner {
    padding: 105px 0 40px 0;
}
.our-payroll-container {
    padding: 26px 0 13px 0;
}
.our-payroll-container h3 {
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 30px;
}
.payroll-img-left {
    bottom: -19px;
    left: 0;
    width: 102px;
}
.payroll-img-right {
    width: 119px;
}
.our-payroll-topbar {
    margin-bottom: 46px;
}
.our-payroll-container p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 16px;
}
.technologies-expertise h3 {
    font-size: 25px;
    line-height: 38px;
    position: relative;
}
.technologies-expertise-left {
    width: 100%;
    padding: 11px 0 30px 0;
}
.portfolio-container h1 {
    font-size: 49px;
    line-height: 70px;
    margin-bottom: 8px;
}
.portfolio-container {
    padding: 12px 0 0 0;
}
.project-container h5 {
    font-size: 29px;
    line-height: 61px;
}
.project-container p {
    font-size: 15px;
    line-height: 21px;
    font-style: italic;
    margin-bottom: 18px;
}
.project-container {
    width: 100%;
    padding: 24px 0 41px;
}
h1.small-font {
    font-size: 34px !important;
    line-height: 48px!important;
    margin-bottom: 1px!important;
}
.about-con {
    padding-top: 10px;
}
.plugins-container h2 {
    font-size: 39px;
    line-height: 47px;
}
.privacy-con h2 {
    font-size: 30px;
    padding: 15px 0;
    line-height: 45px;
    margin-bottom: 18px;
}
.privacy-con {
    padding: 0;
}
}