@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-ExtraBold.eot');
    src: url('../fonts/Butler-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Butler-ExtraBold.woff2') format('woff2'),
        url('../fonts/Butler-ExtraBold.woff') format('woff'),
        url('../fonts/Butler-ExtraBold.ttf') format('truetype'),
        url('../fonts/Butler-ExtraBold.svg#Butler-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

