@{
    Layout = "~/_Layout.cshtml";
}

<!--our blog part start-->
<section class="our-blog-container">
    <div class="auto-container">
        @RenderBody()
        <div class="our-blog-rightbar">
            <div class="blog-categories">
                <h3>Categories</h3>
                <div class="blog-categories-accordion">
                    <div class="tabs">

                        <div class="tab">
                            <input type="checkbox" id="chck1">
                            <label class="tab-label" for="chck1">Modalbox (8)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck2">
                            <label class="tab-label" for="chck2">PhotoZoom (2)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck3">
                            <label class="tab-label" for="chck3">JQuery (11)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck4">
                            <label class="tab-label" for="chck4">Slideshow (4)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck5">
                            <label class="tab-label" for="chck5">ASP.Net (5)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck6">
                            <label class="tab-label" for="chck6">C# (4)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck7">
                            <label class="tab-label" for="chck7">Bubble Plugin (1)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck8">
                            <label class="tab-label" for="chck8">Telerik Controls (4)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck9">
                            <label class="tab-label" for="chck9">RegEx (1)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="blog-categories">
                <h3>Responsive Plugins</h3>
                <div class="blog-categories-accordion">
                    <div class="tabs">
                        <div class="tab">
                            <input type="checkbox" id="chck10">
                            <label class="tab-label" for="chck10">Modalbox (8)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck11">
                            <label class="tab-label" for="chck11">PhotoZoom (2)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck12">
                            <label class="tab-label" for="chck12">JQuery (11)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck13">
                            <label class="tab-label" for="chck13">Slideshow (4)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck14">
                            <label class="tab-label" for="chck14">ASP.Net (5)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck15">
                            <label class="tab-label" for="chck15">C# (4)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck16">
                            <label class="tab-label" for="chck16">Bubble Plugin (1)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck17">
                            <label class="tab-label" for="chck17">Telerik Controls (4)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck18">
                            <label class="tab-label" for="chck18">RegEx (1)</label>
                            <div class="tab-content">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->


            <div class="blog-categories">
                <p>
                    Keep track of our <strong>BLOG UPDATES</strong> via
                    our facebook page.
                </p>
                <div class="blog-categories-accordion">
                    <div class="fb-blog-post">
                        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Frudrasofttech&amp;width=250&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true&amp;appId=490407121012387"
                                scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 250px;
                                height: 290px;" allowtransparency="true"></iframe>
                    </div>
                </div>
            </div>





        </div>
    </div>
</section>
<!--our blog part end-->