@{
    Page.Title = "Expert ASP.Net MVC Developers - Rudra Softtech LLP";
    Layout = "~/_Layout.cshtml";
}
<!--banner slider part start-->
<section class="banner-container">
    <div class="auto-container">
        <div class="slider owl-carousel">
            <div>
                <div class="banner-slide">
                    <div class="banner-slide-leftbar wow flash animated">
                        <h1>
                            Slide<br>
                            Show
                        </h1>
                        <p>
                            Responsive, Touch Supported <br />&amp; Callback API
                        </p>
                        <div class="svg-wrapper">
                            <svg height="100%" width="100%">
                                <rect id="shape" height="100%" width="100%" />
                                <div id="text"> <a href="~/slideshow.cshtml"><span class="spot"></span>LEARN MORE</a> </div>
                            </svg>
                        </div>
                    </div>
                    <div class="banner-slide-rightbar">
                        <img src="images/slide-img.jpg" alt="Slide">
                        <div class="shape wow slideOutRight animated"></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="banner-slide">
                    <div class="banner-slide-leftbar wow fadeInRight animated">
                        <h1>Plugins</h1>
                        <p>
                            Awesome jQuery plugins
                        </p>
                        <div class="svg-wrapper">
                            <svg height="100%" width="100%">
                                <rect id="shape" height="100%" width="100%" />
                                <div id="text"> <a href="~/jquery-plugins.cshtml"><span class="spot"></span>LEARN MORE</a> </div>
                            </svg>
                        </div>
                    </div>
                    <div class="banner-slide-rightbar"> <img src="images/slide-img-2.jpg" alt="Slide"> </div>
                </div>
            </div>
            <div>
                <div class="banner-slide">
                    <div class="banner-slide-leftbar wow fadeInRight animated">
                        <h1 class="small-font">
                            Web<br>
                            Development
                        </h1>
                        <p>
                            Full Stack<br>
                            Web Development Services
                        </p>
                        <div class="svg-wrapper">
                            <svg height="100%" width="100%">
                                <rect id="shape" height="100%" width="100%" />
                                <div id="text"> <a href="~/web-development.cshtml"><span class="spot"></span>LEARN MORE</a> </div>
                            </svg>
                        </div>
                    </div>
                    <div class="banner-slide-rightbar"> <img src="images/slide-img-3.jpg" alt="Slide"> </div>
                </div>
            </div>
            <div>
                <div class="banner-slide">
                    <div class="banner-slide-leftbar wow fadeInRight animated">
                        <h1>Request<br>Quote</h1>
                        <p>
                            Get a Quote from <br />
                            Our Experts
                        </p>
                        <div class="svg-wrapper">
                            <svg height="100%" width="100%">
                                <rect id="shape" height="100%" width="100%" />
                                <div id="text"> <a href=""><span class="spot"></span>LEARN MORE</a> </div>
                            </svg>
                        </div>
                    </div>
                    <div class="banner-slide-rightbar"> <img src="images/slide-img-4.jpg" alt="Slide"> </div>
                </div>
            </div>
        </div>
        <div class="slider-counter"></div>
    </div>
</section>
<!--banner slider part end-->
<!--Plugins part start-->
<section class="plugins-container" id="section-work">
    <div class="flower-pot parallax two"><img src="images/lap-top.png" alt="flower"></div>
    <div class="auto-container">
        <span class="wow fadeInDown animated">10 Responsive jQuery Plugins by</span>
        <h2 class="wow fadeInUp animated">
            Rudra<br>
            Softtech
        </h2>
        <div class="plugins-detail">
            <div class="plugins-detail-leftbar  wow fadeInLeft animated">
                <spam>Our plugins work on</spam>
                <h3>
                    PCs, Tablets and <br>
                    Mobiles.
                </h3>
                <p>
                    We have created 10 responsive jQuery plugins to augment<br /> user interface of a web site. Some of our
                    popular plugins are<br /> ModalBox, SlideShow, PhotoZoom, Bubble <br /> and Question.
                </p>
                <div class="svg-wrapper svg-wrapper2">
                    <svg height="100%" width="100%">
                        <rect id="shape" height="100%" width="100%" />
                        <div id="text"> <a href="~/jquery-plugins.cshtml"><span class="spot"></span>Go to Plugins</a> </div>
                    </svg>
                </div>
            </div>
            <div class="plugins-detail-rightbar  wow fadeInRight animated"> <img src="images/plugins-img.jpg" alt="Plugins"> <div class="shape wow slideOutRight animated"></div> </div>
        </div>
    </div>
</section>
<!--Plugins part end-->
<!--what we do part start-->
<section class="what-do-container">
    <div class="pencil-pot parallax three"><img src="images/pencil-pot.png" alt="pencil"></div>
    <div class="auto-container">
        <spam class="wow fadeInDown animated">WHAT'S HOT</spam>
        <h3 class="wow fadeInUp animated">What We Do</h3>
        <div class="what-do-list">
            <ul>
                <li class="wow fadeInUp animated">
                    <div class="what-do-image"><img src="images/responsive-web-designing.jpg" alt="Responsive Web Designing"> <div class="shape wow slideOutRight animated"></div></div>
                    <div class="what-do-detail">
                        <h4>Responsive Web Designing</h4>
                        <p>
                            We design websites, email newsletters, landing pages and we make sure they work on all screen sizes.
                            Our designers not only focus on visual asthetics but also the usability factor of a design.
                        </p>
                    </div>
                    <div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
                </li>
                <li class="wow fadeInUp animated">
                    <div class="what-do-image"><img src="images/web-development.jpg" alt="Web Development"> <div class="shape wow slideOutRight animated"></div></div>
                    <div class="what-do-detail">
                        <h4>Web Development</h4>
                        <p>
                            Our expertise includes custom web application development, updating existing/legacy web applications and migrating application from other technologies
                            to ASP.Net Framework.
                        </p>
                    </div>
                    <div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
                </li>
                <!--<li class="wow fadeInUp animated">
                        <div class="what-do-image"><img src="images/digital-marketing.jpg" alt="Digital Marketing"><div class="shape wow slideOutRight animated"></div></div>
                        <div class="what-do-detail">
                            <h4>Digital Marketing</h4>
                            <p>
                                Digital marketing is the process to encourage marketing strategies
                                online because todays users are on internet and traditional
                                marketing is not sufficient to increase business.
                            </p>
                        </div>
                        <div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
                    </li>
                    <li class="wow fadeInUp animated">
                        <div class="what-do-image"><img src="images/clean-website-design.jpg" alt="Clean Website Designing"><div class="shape wow slideOutRight animated"></div></div>
                        <div class="what-do-detail">
                            <h4>Clean Website Design</h4>
                            <p>
                                Responsive web design is an approach to web design that makes
                                web pages render well on a variety of devices and window or
                                screen sizes.
                            </p>
                        </div>
                        <div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
                    </li>-->
            </ul>
        </div>
    </div>
</section>
<!--what we do part end-->
<!--meet part start-->
<section class="meet-container">
    <div class="green-flower-pot parallax four ipad"><img src="images/ipad.png" alt="Green Flower Pot"></div>
    <div class="auto-container">
        <spam class="wow fadeInDown animated">MEET YOUR MATCH</spam>
        <div class="meet-rightbar wow fadeInRight animated">
            <h4>
                What We
                Can Do For
                You?
            </h4>
            <p>
                Our strength lies in the comprehensive suite of services we offer to our clients. From Web designing & development to just
                consultancy- you demand, we deliver.
            </p>
            <!--<div class="svg-wrapper svg-wrapper2">
                    <svg height="100%" width="100%">
                        <rect id="shape" height="100%" width="100%" />
                        <div id="text"> <a href=""><span class="spot"></span>Read more</a> </div>
                    </svg>
                </div>-->
        </div>
        <div class="meet-leftbar wow fadeInLeft animated"> <img src="images/match-img.jpg" alt="Match"><div class="shape wow slideOutRight animated"></div> </div>
    </div>
</section>
<!--meet part end-->
@section meta{
    <meta name="description" content="Hire the best Microsoft Asp.Net Developers in Delhi-NCR, India. Rudra Softtech provides the web development services at very cheap and effective cost." />
    <meta name="keywords" content="Web Development Company, Web Design Company, Web Hosting Company, Search Engine Optimization Company, Web Solutions, SEO, Web site Design, Web Site Development, Web Site Hosting, Web Solution" />
}
@section scripts{
    <script>
        $(document).ready(function () { $("#dynamic").removeClass("header-inner") });
    </script>
}