@{
Page.Title = "Engagement Model of Rudra Softtech LLP ";
Layout = "~/_Layout.cshtml";
}

<!--service slider part start-->
<section class="engagement-banner">
	<div class="auto-container">
		<h1>Engagement Model</h1>
		<spam>We offer our service in 2 different flavours.</spam>
		<div class="engagement-detail">
			<div class="engagement-leftbar wow fadeInLeft  animated">
				<img src="images/engagement-img.jpg" alt="Engagement">
				<div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div>
			</div>
			<div class="engagement-rightbar">
				<h2>Fully Managed</h2>
				<p>In this model, you provide us with the idea, we build concrete requirement based on your idea. You start working with our business analysts and solution architects. We conduct meetings with you to understand the idea thoroughly and based on our understanding, we create user story which will then guide our developers. We also suggest you the most suitable set of technology for your idea. We do everything from the start till the completion of a successful product. Development, Designing and Quality Control, all taken care by us.</p>
				<p>Our pricing in Fully-Managed Work Model is based on user stories, once requirements are converted to workable user stories, we provide a time and price estimate for each story.</p>
				<div class="svg-wrapper svg-wrapper2">
					<svg height="100%" width="100%">
						<rect id="shape" height="100%" width="100%"></rect>
					</svg><div id="text"> <a href=""><span class="spot"></span>Read More</a> </div>

				</div>
			</div>
		</div>
	</div>
</section>
<!--service banner slider part end--> 
<!-- Our Payroll part start-->
<section class="our-payroll-container">
	<div class="auto-container">
		<h3>On Our Payroll</h3>
		<div class="our-payroll-topbar">
			<div class="payroll-center wow fadeInUp  animated"><img src="images/payroll-img-1.jpg" alt="Payroll">
				<div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div>
			</div>
			<div class="payroll-img-left wow fadeInRight animated"><img src="images/payroll-img-left.jpg" alt="Payroll"><div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div></div>
			<div class="payroll-img-right wow fadeInLeft  animated"><img src="images/payroll-img-right.jpg" alt="Payroll"> <div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div></div>
		</div>
		<p>If you want to build a team or augment your existing team without the hassle of hiring an employee in-house, this model is best suited for you. We will provide you with professional developers and designers who will work 10-40 hrs/week for you. They will work during your working hours and will be available online throughout the workday. You will be discussing requirements with them directly and managing their daily priority task as well. At the end of each work week, we will provide a time record of all the tasks we worked and the number of hours logged. You will be billed for each week. You can cancel the contract at any time. We do not require any notice period.
		</p>
		<p>On-Our-Payroll development will cost around 10$ - 20$ per hour based on experience level of the developer or designer you hire.</p>
	</div>
</section>
<!--Our Payroll part end--> 

@section scripts{
<script>
	$(document).ready(function(){$("#dynamic").removeClass("header-inner")});
</script>
}