@{
Page.Title = "Responsive jQuery Plugins by Rudra Softtech LLP";
Layout = "~/_Layout.cshtml";
}
<!--jquery plugins part start-->
<section class="ui-plugins-container">
	<div class="auto-container">
		<h1 class="wow fadeInUp animated">Awesome jQuery
			<span>UI Plugins</span></h1>
		<div class="ui-plugins-list">
			<ul>
				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/modal-box-img.png" alt="Modal Box">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Modal Box</strong>
					<p class="wow fadeInDown  animated">Papian &amp; Adamian can help you <br>
						determine if filing for bankruptcy is right <br> for you.</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/photo-zoom-img.png" alt="Photo Zoom">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Photo Zoom</strong>
					<p class="wow fadeInDown  animated">
						A stylish, responsive photo zoom jquery <br> plugin ideal for ecommerce website to <br> highlight product features. Plugin works <br> on desktop, iPad and kindle.
					</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/slide-show-img.png" alt="Slide Show">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Slide Show</strong>
					<p class="wow fadeInDown  animated">A responsive slideshow plug-in for <br> jQuery with features like touch and <br> CSS3 transitions. Plugin works on desk-<br> top, iPad, iPhone, android devices.</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/scroll-bar-img.png" alt="Scroll Bar">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Scroll Bar</strong>
					<p class="wow fadeInDown  animated">
						A plugin to add scroll bar to any element <br> on a webpage. Fully customizable and lightweight.
					</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/bubble-img.png" alt="Bubble">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Bubble</strong>
					<p class="wow fadeInDown  animated">
						A very simple and stylish popup that <br>
						will stick to any element. Plugin can be <br>
						used to show help or ask for some <br> action from users. Plugin works on all <br>
						modern desktop, iPhone and android <br> browsers.
					</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/tool-tip-img.png" alt="Tool Tip">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Tool Tip</strong>
					<p class="wow fadeInDown  animated">Turn boring old element tool tips to <br> pretty tool tips.</p>
				</li>


				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/dragable-img.png" alt="Dragable">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Dragable</strong>
					<p class="wow fadeInDown  animated">A simple plugin that will make any ele-<br> ment dragable. Plugin works on all <br>
						modern browsers on desktop, iPhone, <br> iPad, android phones and tables.</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/swipe-img.png" alt="Swipe">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Swipe</strong>
					<p class="wow fadeInDown  animated">
						A plugin to capture swipe and move <br>
						events on any element of webpage. <br>
						Plugin works on all modern browsers on<br>
						desktop, iPhone, iPad, Android phones <br> and tables.
					</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/question-img.png" alt="Question">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Question</strong>
					<p class="wow fadeInDown  animated">An exciting 'Question Plugin' that will <br>
						talk to your visitor by not only giving you <br> utmost page-interactivity but also <br> saving every click punched to the server.</p>
				</li>

				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/scroller-img.png" alt="Scroller">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Scroller</strong>
					<p class="wow fadeInDown  animated">
						A beautiful photo scroller which works <br>
						on iPad, iPhone, Android Phone and PC. <br>
						Very easy to use and with simplest<br>
						HTML required. Scroller support vertical <br> and horizontal content scrolling and text<br>
						content as well.
					</p>
				</li>
				<li>
					<div class="ui-plugins-img wow fadeInRight  animated"><img src="images/upload-img.png" alt="Upload">
						<div class="shape wow slideOutRight"></div>
					</div>
					<strong class="wow fadeInUp animated">Cool Upload</strong>
					<p class="wow fadeInDown  animated">A multiple/single file upload jquery <br>
						plugin for ASP.Net. Plugin has ability to <br> upload files asynchronously via AJAX. <br>
						You can restrict upload by file size and <br> type as well.</p>
				</li>
			</ul>
		</div>
		<div class="ui-plugins-detail">
			<p>  Don't not be fooled by the price, the plugins and the support are great. I did wonder about the level of sup-<br>
				port because the price was so low but I have contacted support over ten times and always receive a quick and cour-<br>
				teous response. I even requested a small change and it was done almost immediately. I am impressed and recom-<br>
				mend you purchase all the plugins, they are a bargain.</p>
			<spam>
				John Hart, Development Manager, Tradewinds Software Pty Ltd, Sydney, Australia
			</spam>
		</div>


	</div>
</section>
<!--jquery plugins part end-->