@{
    Page.Title = "Responsive ModalBox jQuery Popup Plugin";
    Layout = "~/_Layout.cshtml";
}


<section class="model-box-banner">
    <div class="banner-heading">jQuery</div>
    <div class="banner-heading2">Plugins</div>
    <h1>Modal Box</h1>
    <div class="model-box-leftbar wow fadeInLeft animated">
        <h2>
            Responsive jQuery
            Popup Plugin
        </h2>

        <p>ModalBox is a powerfull jQuery plugin which can be used to highlight a photo, video, map, AJAX content or inline HTML content. ModalBox can also be used to show Alert, Confirm or Prompt boxes. Plugin works every where including PC, iPad, iPhone and Android.</p>

        <div class="svg-wrapper svg-wrapper2">
            <svg height="100%" width="100%">
                <rect id="shape" height="100%" width="100%"></rect>
            </svg><div id="text"> <a href=""><span class="spot"></span>Read More</a> </div>

        </div>

    </div>
    <img src="images/model-banner-img.png" alt="model-banner" class="web-design-img wow fadeInUp animated">
</section>
<!--model part end-->
<!--model box examples part start-->
<section class="model-box-examples" id="examples">
    <div class="auto-container">
        <div class="model-box-list-top wow fadeInDown animated">
            <ul>
                <li><a href="#examples">Examples</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#use">How to Use</a></li>
                <li><a href="#usage-options">Usage Options</a></li>
                <li><a href="#">Download</a></li>
            </ul>
        </div>
        <h2 class="wow fadeInUp  animated">Examples</h2>

        <div class="model-box-iframe">
            <h3 class="wow fadeInUp animated">iframe, HTML, Ajax, Maps</h3>
            <div class="model-box-iframe-list">
                <ul class="wow fadeInDown animated">
                    <li><a href="#">Youtube Iframe </a></li>
                    <li><a href="#">Map Search Results </a></li>
                    <li><a href="#"> Map Direct Link  </a></li>
                    <li><a href="#">Map Street View </a></li>
                    <li><a href="#">Inline </a></li>
                    <li><a href="#">Ajax </a></li>
                </ul>
            </div>

            <div class="photos-title-block">
                <h4>Photos with Title</h4>
                <div class="photos-title-list">
                    <ul>
                        <li class="wow fadeInRight animated"><a href="#"><img src="images/title-photo-1.png" alt="Photo"></a> </li>
                        <li class="wow fadeInLeft animated"><a href="#"><img src="images/title-photo-2.png" alt="Photo"></a> </li>
                    </ul>
                </div>
            </div>
            <div class="photo-gallery-block">
                <h5>Photo Gallery</h5>
                <span>You can use mousewheel or left|right arrow keys.</span>
                <div class="photo-gallery-list">
                    <ul>
                        <li class="wow fadeInDown animated"><a href="#"><img src="images/photo-gallery-img-1.png" alt="Photo Gallery"></a> </li>
                        <li class="wow fadeInDown animated"><a href="#"><img src="images/photo-gallery-img-2.png" alt="Photo Gallery"></a> </li>
                        <li class="wow fadeInDown animated"><a href="#"><img src="images/photo-gallery-img-3.png" alt="Photo Gallery"></a> </li>
                        <li class="wow fadeInDown animated"><a href="#"><img src="images/photo-gallery-img-4.png" alt="Photo Gallery"></a> </li>
                        <li class="wow fadeInDown animated"><a href="#"><img src="images/photo-gallery-img-5.png" alt="Photo Gallery"></a> </li>
                    </ul>
                </div>
            </div>
            <div class="special-use-block wow fadeInUp animated">
                <h5>Special Use</h5>
                <span>Use Modalbox to show alert, confirm and prompts on you page.</span>
                <div class="special-use-block-list">
                    <ul>
                        <li><a href="#">Alert</a></li>
                        <li><a href="#">Confirm</a></li>
                        <li><a href="#">Prompt</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</section>
<!--model box part end-->
<!--model box features part start-->
<section class="model-box-features" id="features">
    <div class="auto-container">
        <h3 class="wow fadeInDown animated">Features</h3>
        <div class="model-box-features-leftbar">
            <ul>
                <li class="wow fadeInLeft animated">Responsive (Works on PC, iPad, iPhone and Android Phones)</li>
                <li class="wow fadeInLeft animated">Default options customizable</li>
                <li class="wow fadeInLeft animated">Customizable UI via CSS3</li>
                <li class="wow fadeInLeft animated">Photo Gallery(Mousewheel and Keyboard Navigation avialable)</li>
                <li class="wow fadeInLeft animated">Auto Adjust or Set Custom Height/Width</li>
                <li class="wow fadeInLeft animated">Show YouTube videos, Google Maps, SWF Files via Iframe</li>
                <li class="wow fadeInLeft animated">Handle non existing URL</li>
                <li class="wow fadeInLeft animated">Init, Show and Close callbacks</li>
                <li class="wow fadeInLeft animated">Show Ajax and Inline content</li>
                <li class="wow fadeInLeft animated">Very Lightweight</li>
            </ul>
        </div>

        <img src="images/feature-img.png" alt="feature" class="model-feature wow fadeInDown animated">
    </div>
</section>
<!--model box features part end-->
<!--model box use part start-->
<section class="model-box-use" id="use">
    <div class="auto-container">
        <h3 class="wow fadeInLeft animated">How To Use</h3>
        <div class="script-section wow fadeInDown animated">
            <span>This script goes into head section</span>
            <div class="script-section-block">
                &lt;!-- Include jQuery Library --&gt;
                &lt;script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js" type="text/javascript"&gt;&lt;/script&gt;

                &lt;!-- Include Modal Box CSS file --&gt;
                &lt;link href="modal.css" rel="Stylesheet" /&gt;
                &lt;link href="modal-darktheme.css" rel="Stylesheet" /&gt;

                &lt;!-- Include Modal Box Script File --&gt;
                &lt;script src="modal.js" type="text/javascript"&gt;&lt;/script&gt;

                &lt;!-- Script to initialize Modal Box --&gt;
                &lt;script type="text/javascript"&gt;
                $(document).ready(function () {
                $(".photo").modalbox({
                Type: 'image'
                });

                $(".gallery").modalbox({
                Type: 'image'
                });

                $("#youtube").modalbox({
                Type: 'iframe',
                Width: 560,
                Height: 315,
                Modal: true
                });

                $(".iframe").modalbox({
                Type: 'iframe',
                Width: 600,
                Height: 400
                });

                $("#inline").modalbox({
                Type: 'inline',
                Width: 400,
                Height: 300
                });

                $("#ajax").modalbox({
                Type: 'ajax',
                Width: 600,
                Height: 400
                });
                });
                &lt;/script&gt;
            </div>
        </div>






        <div class="script-section wow fadeInDown animated">
            <span>HTML Example</span>
            <div class="script-section-block">
                &lt;!-- Body Section HTML --&gt;
                &lt;!-- Individual Photo Modal Box --&gt;
                &lt;a href="pic6.jpg" class="photo" title="This is sample title for this photo."&gt;
                &lt;img class="thumb img-polaroid" src="pic6.jpg"
                alt="" /&gt;
                &lt;/a&gt;
                &lt;a href="pic7.jpg" class="photo" title="This is sample title for this photo."&gt;
                &lt;img class="thumb img-polaroid" src="pic7.jpg"
                alt="" /&gt;
                &lt;/a&gt;
                &lt;!-- Photo Gallery Modal Box --&gt;
                &lt;a href="pic1.jpg" class="gallery" rel="group1"
                title="Sample title for gallery photo 1."&gt;
                &lt;img class="thumb img-polaroid" src="pic1.jpg"
                alt="" /&gt;
                &lt;/a&gt;&lt;a href="pic2.jpg" class="gallery"
                title="Sample title for gallery photo 2." rel="group1"&gt;
                &lt;img class="thumb img-polaroid" src="pic2.jpg"
                alt="" /&gt;
                &lt;/a&gt;&lt;a href="pic3.jpg" class="gallery"
                title="Sample title for gallery photo 3." rel="group1"&gt;
                &lt;img class="thumb img-polaroid" src="pic3.jpg"
                alt="" /&gt;
                &lt;/a&gt;&lt;a href="pic4.jpg" class="gallery"
                title="Sample title for gallery photo 4." rel="group1"&gt;
                &lt;img class="thumb img-polaroid" src="pic4.jpg"
                alt="" /&gt;
                &lt;/a&gt;&lt;a href="pic5.jpg" class="gallery"
                title="Sample title for gallery photo 5." rel="group1"&gt;
                &lt;img class="thumb img-polaroid" src="pic5.jpg"
                alt="" /&gt;
                &lt;/a&gt;
                &lt;ul&gt;
                &lt;!-- Using a youtube embed url to show in modal box --&gt;
                &lt;li&gt;&lt;a href="http://www.youtube-nocookie.com/embed/F983K9pFk9s?rel=0" id="youtube"&gt;Youtube&lt;/a&gt;&lt;/li&gt;
                &lt;!-- Google Map Url --&gt;
                &lt;li&gt;Google maps
                &lt;ul&gt;
                &lt;li&gt;&lt;a class="iframe" href="//maps.google.com/maps?f=q&amp;amp;source=s_q&amp;amp;hl=en&amp;amp;geocode=&amp;amp;q=Taj+Mahal,+Agra,+Uttar+Pradesh,+India&amp;amp;aq=0&amp;amp;oq=Taj+&amp;amp;sll=24.831845,79.919855&amp;amp;sspn=0.092695,0.154324&amp;amp;t=h&amp;amp;g=Khajuraho,+Madhya+Pradesh,+India&amp;amp;ie=UTF8&amp;amp;hq=Taj+Mahal,+Agra,+Uttar+Pradesh,+India&amp;amp;ll=27.172988,78.042139&amp;amp;spn=0.006295,0.006295&amp;amp;output=embed"&gt;
                Search results&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a class="iframe" href="//maps.google.com/?t=h&amp;amp;ie=UTF8&amp;amp;ll=48.85796,2.295231&amp;amp;spn=0.0042,0.009645&amp;amp;z=17&amp;amp;output=embed"&gt;
                Direct link&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a class="iframe" href="//maps.google.com/?t=m&amp;amp;layer=c&amp;amp;cbll=48.859507,2.292568&amp;amp;panoid=YJ0lq28OOy3VT2IqIuVY0g&amp;amp;cbp=12,151.58,,0,-15.56&amp;amp;ie=UTF8&amp;amp;ll=48.859358,2.292787&amp;amp;spn=0.00105,0.002411&amp;amp;z=19&amp;amp;source=embed&amp;amp;output=svembed"&gt;
                Street view&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
                &lt;/li&gt;
                &lt;!-- inline example --&gt;
                &lt;li&gt;&lt;a href="#modal1" id="inline"&gt;Inline&lt;/a&gt;&lt;/li&gt;
                &lt;!-- ajax example --&gt;
                &lt;li&gt;&lt;a href="js-tools/modal/sample.txt" id="ajax"&gt;Ajax&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;

                &lt;div id="moda1" style="display: none;"&gt;
                This is inline content that will be show inside the Modal Box. Modal box makes it
                easy to implement this behavior. You can show any html inside modal box including
                images, paragraphs etc.
                &lt;img class="thumb" src="pic6.jpg" alt="" /&gt;
                I have written this text just to take some more space.
                &lt;/div&gt;
            </div>
        </div>


        <div class="script-section wow fadeInDown animated">
            <span>Alert, Confirm and Prompt</span>
            <div class="script-section-block alert">
                &lt;button onclick="$.fn.modalbox('alert', {Message : 'Hi, &lt;br/&gt; I am ModalBox, I can work everywhere and make your webpage beautiful'})" class="btn"&gt;Alert&lt;/button&gt;

                &lt;button onclick="$.fn.modalbox('confirm', {Message : '&lt;h4&gt;You are interested in downloading this plugin. Please Confirm?&lt;/h4&gt;', Action: function(val) { if(val){ $.fn.modalbox('alert', {Message : 'Thanks please check the Download option at the bottom menu.'}); } else { $.fn.modalbox('alert', {Message : 'Why So????'}); }} })" class="btn"&gt;Confirm&lt;/button&gt;

                &lt;button onclick="$.fn.modalbox('prompt', {Message : 'What is you Name?', Action: function(val){ if(val != '') { $.fn.modalbox('alert', {Message :  val }); } }})" class="btn"&gt;Prompt&lt;/button&gt;
            </div>
        </div>
        <div class="usage-options" id="usage-options">
            <h4>Usage Options</h4>
            <div class="usage-options-table">
                <spam>for Photos, Youtube Videos, Maps or Inline HTML</spam>
                <div class="usage-table">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Option</th>
                            <th>Default</th>
                            <th class="border-none">Description</th>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>'image'</td>
                            <td class="border-none"><div class="ajax-block">'image' | 'iframe' | 'inline' | 'ajax'</div></td>
                        </tr>
                        <tr>
                            <td>Width</td>
                            <td>600</td>
                            <td class="border-none">
                                Set width of modal content. Note: if type is set to 'image' this option might be overridden with images
                                actual width.
                                <div class="actual-width">
                                    <span>Width : 600</span>   or   <span>Width : 80%</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>350</td>
                            <td class="border-none">
                                Set height of modal content. Option is used only for type iframe, inline and ajax.
                                <div class="actual-width">
                                    <span>Height : 500</span>   or   <span>Height : 80%</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CloseHandle</td>
                            <td>null</td>
                            <td class="border-none">
                                Expects a jquery object like $("#closebutton"). Use this option to set custom close button. Option should be
                                used when type is set to 'inline'.
                                <div class="actual-width">
                                    <span>CloseHandle : $("#closebutton")</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>OnInit</td>
                            <td>null</td>
                            <td class="border-none">
                                Expects a function. Function will be called at the time of initialization of modal box for any element(s).
                                <div class="ajax-block oninit">
                                    OnInit : function() { <br>
                                    /* Do Work Here */ <br>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>OnShow</td>
                            <td>null</td>
                            <td class="border-none">
                                Expects a function. Function will be called when modal box is shown.
                                <div class="ajax-block oninit">
                                    OnShow : function(index) { /* index: current item index if in gallery <br>
                                    mode else it will be 0 */ <br>
                                    /* Do Work Here */ }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>OnClose</td>
                            <td>null</td>
                            <td class="border-none">
                                Expects a function. Function will be called when modal box is closed.
                                <div class="ajax-block oninit">
                                    OnClose : function() { <br>
                                    /* Do Work Here */
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>


            <div class="usage-options-table wow fadeInDown animated">
                <spam>for Alert</spam>
                <div class="usage-table">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th>Option</th>
                            <th>Default</th>
                            <th class="border-none">Description</th>
                        </tr>
                        <tr>
                            <td>Message</td>
                            <td>Empty</td>
                            <td>Any text</td>
                        </tr>
                        <tr>
                            <td>OkText</td>
                            <td>
                                '&lt;ul&gt;O&lt;/ul&gt;K'
                            </td>
                            <td> text</td>
                        </tr>
                        <tr>
                            <td>OnInit</td>
                            <td>null</td>
                            <td class="border-none">
                                Expects a function. Function will be called at the time of initialization of modal box.
                                <div class="ajax-block oninit">
                                    OnInit : function() { /* Do Work Here */ }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>OnShow</td>
                            <td>null</td>
                            <td class="border-none">
                                Expects a function. Function will be called when modal box is shown.
                                <div class="ajax-block oninit">
                                    OnShow : function() { /* Do Work Here */ }
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>OnClose</td>
                            <td>null</td>
                            <td class="border-none">
                                Expects a function. Function will be called when modal box is closed.
                                <div class="ajax-block oninit">
                                    OnClose : function() { /* Do Work Here */ }
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>



            <div class="check-articles wow fadeInLeft animated">
                <span>Check Articles for more examples and help</span>
                <ul>
                    <li><a href="#">How to use Modalbox to show youtube video in a popup</a></li>
                    <li><a href="#">How to use ASP.Net form with Modalbox jQuery Plugin</a></li>
                    <li><a href="#">How to change background color of Modalbox jQuery Popup</a></li>
                    <li><a href="#">How to change width and height of Modalbox jquery popup</a></li>
                </ul>
            </div>



        </div>
    </div>
</section>
<!--model box use part end-->

