@{
    Page.Title = "Portfolio of Rudra Softtech LLP";
    Layout = "~/_Layout.cshtml";
}

<!--portfolio part start-->
<section class="portfolio-container">
    <div class="auto-container">
        <h1>Portfolio</h1>

        <div class="button-group filters-button-group">
            <button class="button is-checked" data-filter="*" onclick="filterPortfolio(this)">
                <h4>All</h4>
            </button>
            <button class="button" data-filter=".responsive" onclick="filterPortfolio(this)">
                <h4>Responsive</h4>
            </button>
            <button class="button" data-filter=".css3" onclick="filterPortfolio(this)">
                <h4>CSS3 HTML</h4>
            </button>
            <button class="button" data-filter=".javascript" onclick="filterPortfolio(this)">
                <h4>java script</h4>
            </button>
            <button class="button" data-filter=".webdesign" onclick="filterPortfolio(this)">
                <h4>web design</h4>
            </button>
            <button class="button" data-filter=".webdevelopment" onclick="filterPortfolio(this)">
                <h4>web development</h4>
            </button>
            <button class="button" data-filter=".aspnetwebform" onclick="filterPortfolio(this)">
                <h4>ASP.Net WebForms</h4>
            </button>
            <button class="button" data-filter=".aspnetmvc" onclick="filterPortfolio(this)">
                <h4>ASP.Net MVC</h4>
            </button>
            <button class="button" data-filter=".csharp" onclick="filterPortfolio(this)">
                <h4>C#</h4>
            </button>
            <button class="button" data-filter=".vbnet" onclick="filterPortfolio(this)">
                <h4>VB.Net</h4>
            </button>
            <button class="button" data-filter=".reactjs" onclick="filterPortfolio(this)">
                <h4>ReactJS</h4>
            </button>
            <button class="button" data-filter=".bootstrap" onclick="filterPortfolio(this)">
                <h4>Bootstrap</h4>
            </button>
            <button class="button" data-filter=".sqlserver" onclick="filterPortfolio(this)">
                <h4>SQL Server</h4>
            </button>
            <button class="button" data-filter=".azuredb" onclick="filterPortfolio(this)">
                <h4>Azure DB</h4>
            </button>
        </div>
        <style>
            ul#portfoliolist > li > a > img {
                max-height: 500px;
                max-width: 500px;
            }

            ul#portfoliolist > li > a > span {
                width: 250px;
                height: 250px;
                display: block;
                background-size: cover;
            }

            ul#portfoliolist > li {
                list-style: none;
                display: inline-block;
                padding: 5px;
                border: 1px solid #CCCCCC;
                border-radius: 5px;
            }
        </style>
        <ul id="portfoliolist">
            <li class="responsive css3 javascript jquery webdevelopment aspnetmvc csharp reactjs bootstrap sqlserver">
                <a href="#">
                    <span title="LeaseQuery" style="background-image: url(images/portfolio-img-8.jpg);">

                    </span>
                </a>
            </li>
            <li class="css3 javascript jquery
                webdevelopment aspnetwebform vbnet bootstrap azuredb">
                <a href="#">
                    <span title="PromoCorner" style="background-image: url(images/portfolio-img-10.jpg);">

                    </span>
                </a>
            </li>
            <li class="css3 javascript jquery
                webdevelopment aspnetmvc csharp bootstrap sqlserver">
                <a href="#">
                    <span title="PharmaOpportunities" style="background-image: url(images/portfolio-img-12.jpg);">

                    </span>
                </a>
            </li>
            <li class="responsive css3 javascript jquery webdevelopment aspnetmvc csharp bootstrap azuredb">
                <a href="#">
                    <span title="SalesOptimize" style="background-image: url(images/portfolio-img-9.jpg);">

                    </span>
                </a>
            </li>
            <li class="responsive css3 javascript webdevelopment aspnetwebform csharp bootstrap sqlserver">
                <a href="#">
                    <span title="Rockying" style="background-image: url(images/portfolio-img-11.jpg);">

                    </span>
                </a>
            </li>
            <li class="responsive css3 javascript webdevelopment aspnetwebform csharp bootstrap sqlserver">
                <a href="#">
                    <span title="India Bobbles" style="background-image: url(images/portfolio-img-2.jpg);">

                    </span>
                </a>
            </li>
            <li class="responsive css3 javascript webdevelopment aspnetwebform csharp bootstrap sqlserver">
                <a href="#">
                    <span title="Tax Sale Resources" style="background-image: url(images/portfolio-img-13.jpg);">

                    </span>
                </a>
            </li>
            <li class="webdesign">
                <a href="#">
                    <span title="TokenLobby" style="background-image: url(images/portfolio-img-14.jpg);">

                    </span>
                </a>
            </li>
            <li class="responsive css3 javascript webdevelopment aspnetmvc csharp bootstrap">
                <a href="#">
                    <span title="ELEVTAVLEN" style="background-image: url(images/portfolio-img-15.jpg);">

                    </span>
                </a>
            </li>
        </ul>

    </div>
</section>
<!--portfolio part end-->

@section scripts{
    <script>
        function filterPortfolio(ele) {
            $(this).addClass("is-checked");
            $('ul#portfoliolist > li').hide();
            $('ul#portfoliolist > li' + $(ele).data("filter")).show(); 
        }
    </script>
    }