@{
Page.Title = "Services Offered by Rudra Softtech LLP";
Layout = "~/_Layout.cshtml";
}

<section class="tranparent-bg privacy-con" id="section-work">
	<div class="auto-container"> 
		<h2 class="wow fadeInUp animated">Our Services</h2>

		<div class="privacy-detail wow fadeInLeft animated">
			<p>To help jump start the design of your organisation, by transforming its face on the Internet, we provide you with a wide range of IT solutions to meet today’s complex business challenges.</p>
			<p>We are well versed with all the technologies that drive the modern day Web 2.0 websites. Table-services like Blogs, Mobile phone apps, web apps, facebook Apps, I-phone Apps, etc include our latest offerings. </p>
			<p>Our comprehensive portfolio includes, but is not restricted to -</p>
			<ul class="servicelist">
				<li><a href="~/web-designing">Web Designing</a></li>
				<li><a href="~/web-development">Web Development</a></li>
				<li><a href="#">Content Writing</a></li>
			</ul>
		</div>
	</div>
</section>
<style>
	.servicelist li{
		padding:10px;
	}
	
	.servicelist li > a{
		font-size:20px; 
		color:#000;
	}
</style>