@{
    Page.Title = "Web Development Service Offered By Rudra Softtech LLP";
    Layout = "~/_Layout.cshtml";
}
<!--service slider part start-->
<section class="services-banner">
    <div class="coffee-cup-block "><img src="images/cup.png" alt="coffee cup"></div>
    <div class="flower-block"><img src="images/flower.png" alt="flower"></div>
    <div class="auto-container">
        <h1>Web Devlopment</h1>
        <div class="plugins-detail">
            <div class="plugins-detail-leftbar  wow fadeInLeft  animated" style="visibility: visible; animation-name: fadeInLeft;">
                <spam>Website &amp; Web Application</spam>
                <h3>Development <br> Services</h3>
                <span>
                    We create awesome responsive websites and<br>
                    modern web applications using MVVM Frameworks.
                </span>
                <p>Rudra Softtech empowers businesses with modern <br> .NET applications, powered by close to two decades of <br> experience in .NET application development.</p>
                <p>We help businesses with their technology outsourcing <br> ventures and cater a range of services that ensure the <br> right balance of cost-effectiveness and quality.</p>
                <div class="svg-wrapper svg-wrapper2">
                    <svg height="100%" width="100%">
                        <rect id="shape" height="100%" width="100%"></rect>
                    </svg><div id="text"> <a href=""><span class="spot"></span>Read More</a> </div>
                </div>
            </div>
            <div class="plugins-detail-rightbar  wow fadeInRight  animated" style="visibility: visible; animation-name: fadeInRight;"> <img src="images/web-devlopment-img.jpg" alt="Plugins"> <div class="shape wow slideOutRight" style="visibility: visible; animation-name: slideOutRight;"></div> </div>
        </div>
    </div>
</section>
<!--service banner slider part end-->
<!--meet part start-->
<section class="meet-container expertise-container">
    <div class="auto-container">
        <h3>
            Our Web Development <br> Technologies Expertise
            Include:
        </h3>
        <div class="meet-rightbar wow fadeInRight animated">
            <ul>
                <li>.Net Framework</li>
                <li>ASP.Net MVC, Razor, Webforms and Web API</li>
                <li>C#</li>
                <li>VB.Net</li>
                <li>SQL Server &amp; Entity Framework</li>
                <li>JavaScript &amp; jQuery &amp; TypeScript</li>
                <li>AngularJs / ReactJS / Vue.Js / Aurelia</li>
                <li>HTML5 and CSS3</li>
            </ul>
        </div>
        <div class="meet-leftbar wow fadeInLeft animated"> <img src="images/match-img.jpg" alt="Match"><div class="shape wow slideOutRight animated"></div> </div>
    </div>
</section>
<!--meet part end-->
@section scripts{
    <script>
        $(document).ready(function () { $("#dynamic").removeClass("header-inner") });
    </script>
}
@section meta{
    <meta name="description" content="Rudra softtech LLP is the best outsource asp.net, web development services company in Noida, India. we specialize in technologies like .Net, rails-on-ruby and PHP development." />
    <meta name="keywords" content="Web Development Company, Web Design Company, Web Hosting Company, Search Engine Optimization Company, Web Solutions, SEO, Web site Design, Web Site Development, Web Site Hosting, Web Solution" />
}