@{
Page.Title = "Website Designing Service Offered by Rudra Softtech LLP";
Layout = "~/_Layout.cshtml";
}

<!--banner part start-->
<section class="web-designing-banner">
	<div class="banner-heading">SERVICES</div>
	<div class="web-designing-leftbar wow fadeInLeft animated">
		<h1 class="wow fadeInUp animated">Web Designing
			Services</h1>
		<spam>We create awesome websites and premium HTML templates<br>
			that are really out of the box!</spam>
		<p>Rudra Softtech provides best and most affordables web design services. We have designed corporate websites, eCommerce websites,
		admin dashboards, email newsletters and landing pages. We specialize in designing responsive web pages work well on all kinds of devices.
		We provide a combination of design and development service so that we can serve our clients better. Please do check our portfolio.</p>
		<div class="svg-wrapper svg-wrapper2">
			<svg height="100%" width="100%">
				<rect id="shape" height="100%" width="100%"></rect>
			</svg><div id="text"> <a href="~/portfolio.cshtml"><span class="spot"></span>Portfolio</a> </div>

		</div> 
		<div class="big-heading">01</div>

	</div>
	<img src="images/web-design-img.png" alt="web-design" class="web-design-img">
</section>
<!--banner part end--> 
<!--what we do part start-->
<section class="what-do-container expertise-over">
	<div class="auto-container">
		<spam class="wow fadeInDown animated">Our Website Designing Skills Include</spam>
		<h3 class="wow fadeInUp animated">Expertise Over</h3>
		<div class="what-do-list">
			<ul>
				<li class="wow fadeInUp animated">
					<div class="what-do-image"><img src="images/responsive-web-designing.jpg" alt="Responsive Web Designing"> <div class="shape wow slideOutRight animated"></div></div>
					<div class="what-do-detail">
						<h4>Photoshop</h4>
					</div>
					<div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
				</li>
				<li class="wow fadeInUp animated">
					<div class="what-do-image"><img src="images/html-img.jpg" alt="Html Development"> <div class="shape wow slideOutRight animated"></div></div>
					<div class="what-do-detail">
						<h4>HTML5 and CSS3</h4>
					</div>
					<div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
				</li>
				<li class="wow fadeInUp animated">
					<div class="what-do-image"><img src="images/digital-marketing.jpg" alt="Digital Marketing"><div class="shape wow slideOutRight animated"></div></div>
					<div class="what-do-detail">
						<h4>Sketch</h4>
					</div>
					<div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
				</li>
				<li class="wow fadeInUp animated">
					<div class="what-do-image"><img src="images/clean-website-design.jpg" alt="Clean Website Designing"><div class="shape wow slideOutRight animated"></div></div>
					<div class="what-do-detail">
						<h4>Responsive Design</h4>
					</div>
					<div class="backgroundHoverContainer_1jUSe"><div class="backgroundHover_DwyFk"></div></div>
				</li>
			</ul>
		</div>
	</div>
</section>
<!--what we do part end--> 