@page
@model RST.Web.Pages.Account.RegisterModel
@{
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rudra Softtech Account Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row align-items-center justify-content-center" style="min-height:100vh;">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="https://www.rudrasofttech.com/l/img/rst-logo-small.png" alt="Rudra Softtech LLP" style="max-height:100px;" class="img-fluid mb-4" />
                    <div class="mb-4">Creating an account will give you access to <strong>Ply</strong> and other services offered by Rudra Softtech.</div>
                </div>
            </div>
            <div class="col-md-6">
                @if (!string.IsNullOrEmpty(Model.Success))
                {
                    <div class="text-success my-3 fs-5 p-3 border-success ">@Html.Raw(Model.Success)</div>
                }
                else
                {
                    <h2 class="mb-3">Fill Registration Form</h2>
                    <form method="post">
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="nameTxt" class="form-label fw-bold">Your Name</label>
                                <small class="text-danger">Required</small>
                            </div>
                            <input autocomplete="off" asp-for="MemberName" id="nameTxt" class="form-control" />
                            <span asp-validation-for="MemberName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="phoneTxt" class="form-label fw-bold">Phone</label>
                                <small class="text-danger">Required</small>
                            </div>
                            <div class="input-group">
                                <select class="form-select" style="max-width: 80px;" id="countryCode" asp-for="CountryCode">
                                    <option value="91" selected>+91</option>
                                    @* <!-- You can add more codes if needed -->
                                    <option value="+1">USA (+1)</option>
                                    <option value="+44">UK (+44)</option> *@
                                </select>
                                <input autocomplete="off" maxlength="10" asp-for="Phone" id="phoneTxt" class="form-control" />
                            </div>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="emailTxt" class="form-label fw-bold">Email</label>
                                <small class="text-danger">Required</small>
                            </div>
                            <input autocomplete="off" asp-for="Email" id="emailTxt" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        @* <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label for="passwordTxt" class="form-label fw-bold">Password</label>
                                <small class="text-danger">Required</small>
                            </div>
                            <input asp-for="Password" id="passwordTxt" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>  *@
                        <div class="mb-3 fs-6">
                            By continuing, you agree to our <a href="https://www.rudrasofttech.com/privacy" target="_blank">Privacy Policy</a> and <a href="#" target="_blank">Terms of Use</a>. You also agree that Rudra Softtech LLP will send account and product-related emails and SMS.
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <label class="form-label fw-bold">Captcha</label>
                                <div class="row g-0">
                                    <small class="text-danger">Required</small>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-5">
                                    <img src="@Model.CaptchaImage" class="img-fluid" />
                                </div>
                                <div class="col">
                                    <input type="hidden" name="CaptchaKey" value="@Model.CaptchaKey" />
                                    <input type="text" class="form-control" required name="CaptchaValue" maxlength="20" />
                                </div>
                            </div>

                        </div>
                        @if (!string.IsNullOrEmpty(Model.RegisterMessage))
                        {
                            <div class="text-danger my-2">@Model.RegisterMessage</div>
                        }
                        <div class="text-center mb-4">
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                        <div class="text-end mb-4 border-top pt-4">
                            <p>I am already registered. <a href="~/account/login?returnUrl=@Request.Query["returnUrl"]">Sign in</a></p>
                        </div>
                    </form>

                }
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>